
.datepicker table tr td.today
{
  color: #1C1C1C;  
}

.datepicker table tr td.disabled
{
  background-color: #FFF !important;
  color: #E6E6E6;
}

.datepicker table tr td.day
{
  background-color: #CEF6CE; 
}
