.blog-body {
    .post {
        margin-bottom: 4rem;
        .post-header {
            .post-img {
                position: relative;
                overflow: hidden;
                @include media-breakpoint-down(767) {
                    height: 200px;
                    margin-bottom: 1.5rem;
                }
                @include media-breakpoint-up(768) {
                    height: 350px;
                    margin-bottom: 2rem;
                }
                a {
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border: 3px solid transparent;
                        background-color: transparent;
                        z-index: 1;
                        @include transition("all", "0.3s", "ease");
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        &:before {
                            border-color: $pmyc;
                            @include transition("all", "0.3s", "ease");
                        }
                    }
                    img {
                        position: absolute;
                        top: -99999px;
                        right: -99999px;
                        bottom: -99999px;
                        left: -99999px;
                        display: inline-block;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        height: auto;
                        margin: auto;
                    }
                }
            }
            .post-info {
                font-family: $font-family;
                font-size: 1.1rem;
                font-weight: normal;
                color: $stdc;
                text-transform: uppercase;
            }
        }

        .post-body {
            line-height: 1;
            .post-title {
                font-family: $font-family;
                font-size: 1.5rem;
                line-height: 1.2;
                font-weight: normal;
                color: $pmyc;
            }
            .post-content {
                font-size: 1.1rem;
                margin-bottom: 1.5rem;
            }
        }
    }
    .category-main {
        @include media-breakpoint-down(767) {
            margin-bottom: 75px;
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: -17px;
            bottom: 0;
            width: 2px;
            background-color: $stdc;
            @include media-breakpoint-down(767) {
                display: none;
            }
        }
    }
    .blog-pagination {
        display: flex;
        align-items: center;
        font-size: 1.2rem;
        .prev,
        .next {
            @include media-breakpoint-down(575) {
                display: none;
            }
        }
        ul {
            padding: 0 15px;
            margin: auto;
            list-style: none;
            li {
                margin: 0 5px;
                a {
                    display: block;
                    &.active {
                        font-weight: 700;
                        transform: scale(1.5);
                    }
                    &:active,
                    &:focus,
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
}

#sidebar-container {
    #blog-sidebar {
        padding-left: 30px;
        @include media-breakpoint-down(767) {
            padding-left: 0;
        }
        .sidebar-block {
            margin-bottom: 45px;
        }
        .side-banner {
            .banner-image {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                a {
                    display: block;
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 0;
                        bottom: 0;
                        right: 0;
                        border: 2px solid transparent;
                        background-color: transparent;
                        @include transition("all", "0.3s", "ease");
                    }
                    &:hover,
                    &:active,
                    &:focus {
                        &:before {
                            border-color: $pmyc;
                            @include transition("all", "0.3s", "ease");
                        }
                    }
                }
                img {
                }
            }
        }
        .last-posts {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    margin-bottom: 10px;
                    font-size: 1.3rem;
                    a {
                        position: relative;
                        display: inline-block;
                        line-height: 1.1;
                    }
                }
            }
        }
        .all-categories {
            ul {
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    margin-bottom: 5px;
                    font-size: 1.3rem;
                    a {
                        padding-left: 17px;
                        position: relative;
                        display: inline-block;
                        line-height: 1.1;
                        &:before {
                            content: "";
                            position: absolute;
                            top: 12px;
                            left: 0;
                            height: 8px;
                            width: 8px;
                            border: 1px solid $stdc;
                            background-color: $istdc;
                            transform: translateY(-50%);
                        }
                        &:hover,
                        &:active,
                        &:focus {
                            text-decoration: none;
                            &:before {
                                background-color: $stdc;
                            }
                        }
                        &.active {
                            &:before {
                                background-color: $stdc;
                            }
                        }
                    }
                }
            }
        }
    }
}

.post-single {
    @include media-breakpoint-down(767) {
        margin-bottom: 75px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -17px;
        bottom: 0;
        width: 2px;
        background-color: $stdc;
        @include media-breakpoint-down(767) {
            display: none;
        }
    }
    .post-header {
        .post-header-img {
            text-align: center;
            margin-bottom: 3rem;
        }
        .breadcrumb-container {
            ul {
                padding: 0;
                list-style: none;
                li {
                    a {
                        padding-right: 15px;
                        position: relative;
                        color: $pmyc;
                        &:before {
                            content: "»";
                            position: absolute;
                            right: 4px;
                            top: 50%;
                            transform: translateY(-50%);
                            font-size: 0.8rem;
                            color: $pmyc;
                        }
                    }
                    &:last-child {
                        a {
                            &:before {
                                display: none;
                            }
                        }
                    }
                }
            }
        }
        .post-info {
            margin-top: 15px;
            margin-bottom: 15px;
            display: flex;
            flex-wrap: wrap;
            .single-info {
                margin-right: 15px;
                margin-bottom: 15px;
            }
        }
        .post-title {
            color: $pmyc;
            @include media-breakpoint-down(575) {
                font-size: 1.7rem;
            }
        }
    }
    .post-body {
        padding-bottom: 3rem;
        img {
            max-width: 100%;
            height: auto;
        }
    }
}

#post-share-icons {
    .jssocials-share {
        margin: 0;
        margin-right: 20px;
        .jssocials-share-link {
            position: relative;
            height: 35px;
            width: 35px;
            border-radius: 50%;
            background-color: $pmyc;
            transform: scale(1);
            display: block;
            @include transition("all", "0.3s", "ease");
            i {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 20px;
                color: $istdc;
                font-size: 1rem;
            }
            &:hover,
            &:focus,
            &:active {
                transform: scale(1.1);
                background-color: $stdc;
                @include transition("all", "0.3s", "ease");
            }
        }
        &.jssocials-share-facebook {
            .jssocials-share-link {
                background-color: #3b5998;
            }
        }
        &.jssocials-share-twitter {
            .jssocials-share-link {
                background-color: #55acee;
            }
        }
        &.jssocials-share-linkedin {
            .jssocials-share-link {
                background-color: #007ab9;
            }
        }
        &.jssocials-share-whatsapp {
            .jssocials-share-link {
                background-color: #64b161;
                i {
                    font-size: 1rem;
                }
            }
        }
        &.jssocials-share-email {
            .jssocials-share-link {
                background-color: $pmyc;
            }
        }
    }
}
