.cart-addresses {
    padding: 60px 15px 75px 15px;
    border-bottom: 1px solid $darkgrey;
    text-align: center;
    .section-title {
        margin-bottom: 60px;
        display: inline-block;
        font-family: "Caveat Brush", Georgia, serif;
        background-image: url(../img/title-underline.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 75px;
        padding-bottom: 0.5rem;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        font-size: 70px;
        @include media-breakpoint-between(768, 992) {
            font-size: 60px;
            margin-bottom: 45px;
            text-align: left;
        }
        @include media-breakpoint-down(768) {
            font-size: 45px;
            margin-bottom: 30px;
            text-align: left;
        }
    }
    .user-box {
        .user-img {
            position: absolute;
            left: -20px;
            z-index: 10;
            height: 51px;
            @include media-breakpoint-down(768) {
                left: -5px;
                height: 40px;
            }
        }
        .input-group {
            input {
                padding-left: 25px;
                letter-spacing: 0.5px;
                border-right: none;
                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }
            ul {
                left: -100% !important;
                width: 200%;
                height: 200px;
                overflow: scroll;
                z-index: 5;
                @include media-breakpoint-down(991) {
                    width: 150%;
                    left: -50% !important;
                    right: -50% !important;
                }
                @include media-breakpoint-down(767) {
                    width: 100%;
                    left: 0 !important;
                    right: 0 !important;
                }
            }
            button {
                background-color: white;
                border-left: none;
                img {
                    max-height: 20px;
                }
            }
        }
    }
    #customer-data {
        @include media-breakpoint-down(992) {
            margin-top: 60px;
        }
    }
    .single-address {
        width: 100%;
        .content {
            height: 100%;
            padding: 45px;
            border: 1px solid $darkgrey;
            text-align: left;
            display: flex;
            flex-direction: column;
            @include media-breakpoint-down(1200) {
                padding: 30px;
            }
            @include media-breakpoint-down(992) {
                padding: 15px;
            }
            h5 {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            h6 {
                margin: 10px 0 5px;
                font-size: 14px;
                font-weight: $bold;
                color: $darkgrey;
            }
            p {
                margin-bottom: 3px;
                word-break: break-all;
                &:last-child {
                    margin-bottom: 3px;
                }
            }
            .btn-box {
                margin-top: auto;
                button {
                    margin-top: 15px;
                    cursor: pointer;
                }
            }
        }
        &.disable {
            h6 {
                color: $lightgrey;
            }
            p {
                color: $lightgrey;
            }
            .btn-enable-address {
                background-color: $pmyc;
                border-color: $pmyc;
            }
        }
        .cashback {
            font-size: 16px;
            font-weight: $bold;
            color: $pmyc;
            text-transform: uppercase;
        }
        .csinfo {
            span {
                font-weight: $bold;
            }
            .success {
                color: $scsc;
            }
            .alert {
                color: $wrnc;
            }
            .danger {
                color: $errc;
            }
        }
    }
    .box-right {
        padding-right: 45px;
        @include media-breakpoint-down(768) {
            padding-right: 0;
        }
        a {
            position: relative;
            padding: 8px 15px;
            border: 1px solid $pmyc;
            text-transform: uppercase;
            text-align: left;
            color: $pmyc;
            width: 100%;
            font-size: 16px;
            @include media-breakpoint-down(992) {
                padding-right: 30px;
            }
            &:hover,
            &:focus,
            &:active {
                color: $pmyc;
            }
            span {
                position: absolute;
                text-align: center;
                width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid $pmyc;
                top: -9px;
                right: -30px;
                overflow: hidden;
                background-color: white;
                i {
                    font-size: 35px;
                    padding-top: 10px;
                }
            }
        }
    }
}
.cart-header {
    padding: 45px 15px;
    .head-discount {
        padding: 5px;
        border: 1px solid black;
        text-align: center;
        margin: 0 auto;
    }
    .head-note {
        border: 1px solid black;
    }
    .col-discount {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
        width: 100%;
        height: 100%;
        @include media-breakpoint-down(768) {
            margin-bottom: 30px;
        }
    }
    .discount-head {
        width: 100%;
        border: 1px solid black;
        text-align: center;
    }
}
.cart-section {
    padding-top: 60px;
    .title-block {
        padding-bottom: 75px;
        .title-box {
            text-align: center;
            .section-title {
                margin-bottom: 0;
                display: inline-block;
                font-family: "Caveat Brush", Georgia, serif;
                background-image: url(../img/title-underline.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 75px;
                padding-bottom: 0.5rem;
                -webkit-transform: rotate(-5deg);
                -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
                font-size: 70px;
                @include media-breakpoint-between(768, 992) {
                    font-size: 60px;
                    text-align: left;
                }
                @include media-breakpoint-down(768) {
                    font-size: 45px;
                    text-align: left;
                }
            }
        }
        .user-box {
            .user-img {
                position: absolute;
                left: 0;
                z-index: 10;
                height: 51px;
            }
            .input-group {
                input {
                    padding-left: 50px;
                    letter-spacing: 1px;
                    border-right: none;
                    &:focus {
                        outline: none;
                        box-shadow: none;
                    }
                }
                button {
                    background-color: white;
                    border-left: none;
                    img {
                        max-height: 20px;
                    }
                }
            }
        }
    }
    .content-block {
        .content-head {
            padding-bottom: 15px;
            border-bottom: 1px solid $lightgrey;
            .head-col {
                padding: 0 5px;
                font-weight: $bold;
                font-size: 16px;
                color: $darkgrey;
                text-transform: uppercase;
                text-align: center;
                &:first-child {
                    padding-left: 30px;
                    text-align: left;
                }
            }
            @include media-breakpoint-down(992) {
                display: none;
            }
        }
        .cart-list {
            h4 {
                //width: 100%;
                margin: 15px 0;
                text-align: center;
                color: $pmyc;
                text-transform: uppercase;
            }
            .single-product {
                margin-left: 0;
                margin-right: 0;
                padding: 40px 0 40px 0;
                border-bottom: 1px solid $lightgrey;
                img {
                    margin: auto;
                    display: block;
                    max-height: 300px;
                }
                .product-inner {
                    padding: 0 30px;
                    .top-info {
                        padding-bottom: 15px;
                        border-bottom: 1px solid $lightgrey;
                        .pro-info {
                            padding: 0 5px;
                            h5 {
                                font-size: 20px;
                                font-weight: $bold;
                                text-transform: uppercase;
                            }
                            .pro-name {
                                margin-bottom: 20px;
                                color: $pmyc;
                            }
                            .product-link {
                                &:hover,
                                &:active,
                                &:focus {
                                    color: $pmyc !important;
                                    text-decoration: underline !important;
                                }
                            }
                            a {
                                font-weight: $bold;
                                text-transform: uppercase;
                                color: $darkgrey;
                                cursor: pointer;
                                &:hover,
                                &:active,
                                &:focus {
                                    text-decoration: none;
                                }
                            }
                            h6 {
                                text-transform: uppercase;
                            }
                        }
                        .pro-single-price {
                            padding: 0 5px;
                            margin-left: 0;
                            p {
                                width: 100%;
                                text-align: center;
                                font-size: 20px;
                                font-weight: $bold;
                                @include media-breakpoint-down(992) {
                                    font-size: 18px;
                                    text-align: left;
                                }
                            }
                        }
                        .pro-discounted-price {
                            padding: 0 5px;
                            margin-left: 0;
                            p {
                                width: 100%;
                                text-align: center;
                                font-size: 20px;
                                font-weight: $bold;
                                @include media-breakpoint-down(992) {
                                    font-size: 18px;
                                    text-align: left;
                                }
                            }
                        }
                        .pro-discount {
                            margin-left: 0;
                            padding: 0 5px;
                            text-align: center;
                            @include media-breakpoint-down(992) {
                                margin: 15px 0;
                            }
                            h6 {
                                @include media-breakpoint-down(991) {
                                    margin: 0;
                                }
                            }
                            input {
                                padding: 5px;
                                border: 1px solid black;
                                max-width: 100%;
                                margin-left: 5px;
                                @include media-breakpoint-down(767) {
                                    width: 100px;
                                }
                            }

                            .input-group-text {
                                padding: 0.375rem 0.45rem;
                                border: none;
                                border-radius: 0px;
                                background-color: black;
                                color: white;
                            }
                        }
                        .pro-quantity {
                            margin-left: 0;
                            padding: 0 5px;
                            text-align: center;
                            @include media-breakpoint-down(992) {
                                margin: 15px 0;
                            }
                            h6 {
                                @include media-breakpoint-down(991) {
                                    margin: 0;
                                }
                            }
                            input {
                                padding: 5px;
                                border: 1px solid black;
                                max-width: 100%;
                                margin-left: 5px;
                                @include media-breakpoint-down(767) {
                                    width: 100px;
                                }
                            }
                        }
                        .pro-total {
                            text-align: center;
                            font-size: 20px;
                            font-weight: $bold;
                            .row {
                                width: 100%;
                            }
                            p {
                                text-align: right;
                                width: 100%;
                                clear: both;
                                @include media-breakpoint-down(992) {
                                    font-size: 18px;
                                    text-align: left;
                                }
                                .span {
                                    display: inline;
                                }
                            }
                            .col-12 {
                                padding: 0 5px;
                            }
                        }
                    }
                    .stock-row {
                        padding-top: 7.5px;
                        .stock-number {
                            padding-left: 7.5px;
                        }
                        .stock-status {
                            font-weight: 600;
                            color: $pmyc;
                        }
                    }
                    .bottom-info {
                        padding-top: 20px;
                        .bottom-info-content {
                            margin-bottom: 15px;
                            padding-left: 7.5px;
                        }
                        .btn-updatefreerow {
                            margin-left: 7.5px;
                        }
                        .pro-check {
                            padding-left: 0;
                            .form-check {
                                input {
                                    margin-top: -1px;
                                    height: 25px;
                                    width: 25px;
                                }
                                label {
                                    padding-left: 15px;
                                    &:before {
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        height: 25px;
                                        width: 25px;
                                        content: "";
                                        background-color: white;
                                        cursor: pointer;
                                        border: 1px solid $pmyc;
                                    }
                                    &:after {
                                        position: absolute;
                                        top: 4px;
                                        left: 4px;
                                        height: 17px;
                                        width: 17px;
                                        content: "";
                                        transform: scale(0);
                                        background-color: $pmyc;
                                        cursor: pointer;
                                        @include makeTransition("all", "0.5s", "ease");
                                    }
                                }
                            }
                            .checked {
                                label::after {
                                    transform: scale(1);
                                    @include makeTransition("all", "0.5s", "ease");
                                }
                            }
                        }
                        .pro-remove {
                            padding-right: 20px;
                            text-align: right;
                            button {
                                background-color: transparent;
                                border: none;
                                text-decoration: underline;
                                font-size: 14px;
                                cursor: pointer;
                            }
                        }
                    }
                }
                &.free-product {
                    @include media-breakpoint-down(992) {
                        .pro-single-price {
                            display: none !important;
                        }
                        .pro-discount {
                            display: none !important;
                        }
                    }
                }
                .additional-discount {
                    &.disable {
                        background-color: $lightgrey;
                    }
                }
                .chk-free-row-msg {
                    text-align: center;
                    color: $pmyc;
                    font-weight: $bold;
                }
            }
        }
        .cart-footer {
            padding-top: 105px;
            padding-bottom: 45px;
            .col-left {
                a {
                    background-color: transparent;
                    border: 1px solid $pmyc;
                    color: $pmyc;
                }
                .print-btn {
                    background-color: transparent;
                    border: 1px solid $pmyc;
                    color: $pmyc;
                }
                @include media-breakpoint-down(1200) {
                    padding-bottom: 15px;
                }
                #btn-calcfreerows {
                    @include media-breakpoint-down(1200) {
                        margin-top: 15px;
                    }
                }
                #printcart {
                    @include media-breakpoint-down(1200) {
                        margin-top: 15px;
                    }
                }
            }
            .col-right {
                .row {
                    margin-bottom: 45px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .title {
                    text-align: right;
                    padding-right: 15px;
                    padding-bottom: 5px;
                }
                .price {
                    padding-left: 0;
                    padding-right: 45px;
                    text-align: right;
                    font-size: 20px;
                    font-weight: $bold;
                    p {
                        padding: 12px 12px;
                        width: 98%;
                        border: 1px solid $pmyc;
                        color: $pmyc;
                        display: inline-block;
                        @include media-breakpoint-down(768) {
                            padding: 7px 7px;
                        }
                    }
                    @include media-breakpoint-down(768) {
                        padding: 0 15px;
                    }
                }
                .final {
                    padding-right: 0;
                    text-align: center;
                    font-size: 20px;
                    font-weight: 600;
                    @include media-breakpoint-down(991) {
                        font-size: 16px;
                    }
                    @include media-breakpoint-down(767) {
                        margin-bottom: 15px;
                        padding: 0 15px;
                    }
                }
            }
            @include media-breakpoint-down(1024) {
                padding-top: 30px;
                padding-bottom: 15px;
            }
            .btn-list-cart {
                .col-md-4 {
                    margin-top: 5px;
                    text-align: center;
                }
                .col-12 {
                    margin-top: 5px;
                    text-align: center;
                }
            }
        }
    }
    .shipping-data {
        padding: 0 0 60px;
        label {
            padding-right: 15px;
        }
        .input-group {
            display: inline-flex;
            max-width: 50%;
            input {
                border: 1px solid $pmyc;
            }
            button {
                background-color: $pmyc;
                border: none;
            }
        }
    }

    .cart-addresses {
        padding: 60px 15px 75px 15px;
        border-bottom: 1px solid $lightgrey;
        text-align: center;
        .section-title {
            margin-bottom: 60px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
            @include media-breakpoint-between(768, 992) {
                font-size: 60px;
                margin-bottom: 45px;
                text-align: left;
            }
            @include media-breakpoint-down(768) {
                font-size: 45px;
                margin-bottom: 30px;
                text-align: left;
            }
        }
        .choose-address {
            p {
                margin-bottom: 15px;
                text-transform: uppercase;
                font-weight: $bold;
            }
            .col-left {
                .form-check {
                    margin-top: 15px;
                    margin-left: 45px;
                    input {
                        margin-top: 0px;
                        margin-left: -27px;
                        height: 20px;
                        width: 20px;
                    }
                    label {
                        text-align: left;
                        line-height: 1.2;
                        &:before {
                            position: absolute;
                            top: 0;
                            left: 10px;
                            height: 20px;
                            width: 20px;
                            content: "";
                            background-color: white;
                            cursor: pointer;
                            border: 1px solid $pmyc;
                        }
                        &:after {
                            position: absolute;
                            top: 3px;
                            left: 13px;
                            height: 14px;
                            width: 14px;
                            content: "";
                            transform: scale(0);
                            background-color: $pmyc;
                            cursor: pointer;
                            @include makeTransition("all", "0.5s", "ease");
                        }
                    }
                }
                .checked {
                    label::after {
                        transform: scale(1);
                        @include makeTransition("all", "0.5s", "ease");
                    }
                }
            }
            .col-right {
            }
        }
        .addresses {
            padding-top: 45px;
            .single-address {
                .content {
                    height: 100%;
                    padding: 60px 15px 60px 90px;
                    border: 1px solid $lightgrey;
                    text-align: left;
                    h6 {
                        margin-bottom: 30px;
                        font-size: 20px;
                        font-weight: $bold;
                        color: $pmyc;
                        text-transform: uppercase;
                    }
                    p {
                        margin-bottom: 3px;
                        &:last-child {
                            margin-bottom: 3px;
                        }
                    }
                    button {
                        margin-top: 30px;
                        padding: 0;
                        border: none;
                        background-color: transparent;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
                &.selected {
                    background-color: $lightgrey;
                }
            }
            .more-address {
                border: 1px solid $lightgrey;
                border-right: none;
                font-size: 60px;
                color: $pmyc;
                button {
                    cursor: pointer;
                }
            }
        }
    }
    .cart-shipping {
        padding-top: 60px;
        padding-bottom: 105px;
        text-align: center;
        .section-title {
            margin-bottom: 75px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
            @include media-breakpoint-between(768, 992) {
                font-size: 60px;
                margin-bottom: 45px;
                text-align: left;
            }
            @include media-breakpoint-down(768) {
                font-size: 45px;
                margin-bottom: 30px;
                text-align: left;
            }
        }
        .shipping-radio-list {
            padding-top: 15px;
            padding-bottom: 15px;
            .single-shipping {
                padding: 30px 15px;
                margin: 0;
                @include media-breakpoint-down(576) {
                    margin-left: 0;
                    margin-right: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
                .radio-box {
                    width: 45px;
                    display: flex;
                    align-items: center;
                    justify-content: start;
                    input {
                        position: relative;
                        margin: 0;
                    }
                }
                .info-box {
                    width: calc(100% - 45px);
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    .delivery-img {
                        padding-right: 30px;
                        width: 10%;
                        text-align: left;
                        @include media-breakpoint-down(991) {
                            width: 20%;
                        }
                        @include media-breakpoint-down(575) {
                            padding-bottom: 15px;
                            width: 100%;
                        }
                        img {
                            width: 100px;
                            @include media-breakpoint-down(575) {
                                width: 50px;
                            }
                        }
                    }
                    .text {
                        padding-right: 30px;
                        text-align: left;
                        width: 70%;
                        @include media-breakpoint-down(991) {
                            width: 60%;
                        }
                        @include media-breakpoint-down(575) {
                            width: 100%;
                        }
                    }
                    .delivery-price {
                        text-align: right;
                        width: 20%;
                        @include media-breakpoint-down(575) {
                            padding-top: 10px;
                            text-align: left;
                            width: 100%;
                        }
                    }
                }
                .shipping-price {
                    @include media-breakpoint-down(767) {
                        justify-content: center;
                    }
                }
            }
        }
        .shipping-active {
            padding-top: 30px;
            padding-bottom: 45px;
            .delivery-img {
                img {
                    @include media-breakpoint-down(575) {
                        padding-bottom: 15px;
                        margin: auto;
                        display: block;
                        width: 50px;
                    }
                }
            }
            .text {
                text-align: left;
                @include media-breakpoint-down(575) {
                    text-align: center;
                }
            }
            .shipping-price {
                @include media-breakpoint-down(575) {
                    justify-content: center;
                }
            }
        }
    }

    .cart-pay-method {
        padding: 75px 15px;
        text-align: center;
        .section-title {
            margin-bottom: 75px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
            line-height: 1;
            @include media-breakpoint-between(768, 992) {
                font-size: 60px;
                text-align: left;
            }
            @include media-breakpoint-down(768) {
                font-size: 45px;
                text-align: left;
            }
        }
        .pay-method-list {
            .single-paymethod {
                text-align: left;
                -ms-flex: 0 0 20%;
                flex: 0 0 20%;
                max-width: 20%;
                h6 {
                    margin-bottom: 45px;
                    font-weight: $bold;
                }
            }
        }
    }
    .cart-final {
        border-top: 1px solid $darkgrey;
        padding-top: 75px;
        padding-bottom: 45px;
        @include media-breakpoint-down(768) {
            padding-top: 60px;
        }
        .ship-resume-total {
            padding-bottom: 30px;
            border-bottom: 1px solid $lightgrey;
        }
        .col-left {
            padding-left: 0;
            @include media-breakpoint-down(768) {
                margin-bottom: 60px;
            }
            a {
                background-color: transparent;
                border: 1px solid $pmyc;
                color: $pmyc;
                @include media-breakpoint-down(768) {
                    margin: auto;
                }
            }
        }
        .col-right,
        .col-left {
            .row {
                margin-bottom: 30px;
                &:last-child {
                    margin-bottom: 0;
                }
                @include media-breakpoint-down(768) {
                    margin-bottom: 15px;
                }
            }
            .title {
                text-align: right;
                padding-right: 0;
            }
            .price {
                padding-left: 0;
                padding-right: 45px;
                text-align: right;
                font-size: 20px;
                font-weight: $bold;
                p {
                    padding: 12px 36px;
                    border: 1px solid $pmyc;
                    color: $pmyc;
                    display: inline-block;
                }
            }
            .final {
                padding-right: 0;
                @include media-breakpoint-down(768) {
                    padding-right: 5px;
                }
            }
        }
        h4 {
            width: 100%;
            text-align: center;
            text-transform: uppercase;
            margin-bottom: 30px;
            color: $pmyc;
        }
        .title-resume {
            //margin-top: 30px;
            //border-top: 1px solid $lightgrey;
            padding-top: 30px;
        }
        #return-shipping {
            background-color: transparent;
            border: 1px solid $pmyc;
            color: $pmyc;
            margin-top: 60px;
            &:hover {
                background-color: $pmyc;
                color: white;
            }
        }
    }
}

#sec-buy {
    padding-top: 55px;
    .col-left {
        text-align: center;
        @include media-breakpoint-down(768) {
            margin-left: 15px;
        }
        @include media-breakpoint-down(575) {
            padding-left: 15px;
            padding-right: 15px;
            margin: 0;
        }
        .btn {
            margin-top: 5px;
        }
    }
    .btn-primary {
        color: white;
        background-color: $pmyc;
        border: 1px solid transparent;
        padding: 0.5rem 1rem;
        margin-right: 5px;
    }
    .btn-buy {
        text-align: right;
        @include media-breakpoint-down(768) {
            text-align: center;
        }
        button {
            margin-right: -15px;
            padding: 12px 45px;
            background-color: black;
            border: none;
            color: white;
            cursor: pointer;
            @include media-breakpoint-down(768) {
                margin-right: 0;
            }
        }
    }
}

.shipping {
    .single-address {
        width: 100%;
        .content {
            height: 100%;
            padding: 45px;
            border: 1px solid $lightgrey;
            text-align: left;
            @include media-breakpoint-down(1200) {
                padding: 30px;
            }
            @include media-breakpoint-down(992) {
                padding: 15px;
            }
            h5 {
                margin-bottom: 15px;
                font-size: 20px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            h6 {
                margin-bottom: 15px;
                font-size: 14px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            p {
                margin-bottom: 3px;
                &:last-child {
                    margin-bottom: 3px;
                }
            }
            button {
                margin-top: 15px;
                cursor: pointer;
            }
            .btn-uses-address {
                background-color: $pmyc;
                border-color: $pmyc;
            }
        }
        &.disable {
            h6 {
                color: $lightgrey;
            }
            p {
                color: $lightgrey;
            }
            .btn-enable-address {
                background-color: $pmyc;
                border-color: $pmyc;
            }
        }
        &.selected {
            h6 {
                color: $istdc !important;
            }
            h5 {
                color: $istdc !important;
            }
            p {
                color: $istdc !important;
            }
            .content {
                background-color: $pmyc !important;
            }
            .btn-enable-address,
            .btn-disable-address,
            .btn-uses-address {
                background-color: $lightgrey;
                border-color: $lightgrey;
                color: $pmyc;
            }
        }
    }
}

#shipping-text-count {
    color: $pmyc;
    font-weight: bold;
    font-size: 18px;
    font-weight: 600;
}

.empty-cart {
    padding: 30px;
}

.input-group-addon {
    background-color: $pmyc;
    //padding: 0.6rem 1rem;
    padding: 5px 15px;
    position: relative;
    z-index: 2;
    max-height: 38px;
}

.cart-details {
    padding-bottom: 30px;
    .box-title {
        margin-top: 30px;
    }
    p {
        margin-bottom: 5px;
    }
    h4 {
        margin-top: 30px;
        color: $pmyc;
        font-weight: bold;
    }
    .total {
        color: $pmyc;
        font-size: 18px;
    }
    .btn-print {
        background-color: $pmyc;
        border-color: $pmyc;
        color: white !important;
        &:hover {
            background-color: white;
            border-color: $darkgrey;
            color: $pmyc !important;
        }
    }
}

#main-cart-list {
    margin-bottom: 250px;
    .single-step {
        margin-bottom: 45px;
        position: relative;
        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            height: 15px;
            background-image: url(../img/hr.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: contain;
            opacity: 0.3;
            @include transition("all", "0.3s", "ease");
        }
        .section-title-box {
            padding-bottom: 15px;
            position: relative;
            .section-title {
                font-size: 5rem;
                margin-bottom: 60px;
                opacity: 0.3;
            }
            h6 {
                color: $pmyc !important;
            }
        }
        .btn-next-step {
            color: $istdc !important;
            cursor: pointer;
            &.disabled {
                background-color: $pmyc !important;
                color: $istdc !important;
                border-color: $pmyc !important;
                opacity: 0.5;
            }
        }
        .step-content {
            padding-bottom: 30px;
        }
        &.active {
            &::before {
                opacity: 1;
                @include transition("all", "0.3s", "ease");
            }
            .section-title {
                opacity: 1;
            }
        }
    }

    .single-step {
        .cart-addresses {
            border-bottom: none;
        }
    }

    .last {
        &::before {
            background: none;
        }
    }
}
