.contacts {
	.contacts-body {
		padding-bottom: 3rem;
		.form-container {
			background-color: $sdyc;
			@include media-breakpoint-down(767) {
				margin-top: 2rem;
				padding: 2rem;
			}
			@include media-breakpoint-up(768) {padding: 3rem;}
			.custom-checkbox label {font-size: .875rem;}
		}
	}
}