
.home {
	@include media-breakpoint-up(768) {font-size: 1.75rem;}
	.homepage-section {
		.homepage-section-title {
			display: inline-block;
			background-image: url(../img/title-underline.png);
			background-position: center bottom;
			background-repeat: no-repeat;
			background-size: auto;
			margin-bottom: 4rem;
			padding-bottom: .5rem;
			@include transform(rotate, -5deg);
			@include media-breakpoint-up(768) {font-size: 7rem;}
		}
		.img-fluid {
			@include media-breakpoint-down(767) {max-height: 200px;}
		}
	}
    #scroll-depth2{
        .img-box{
            @include media-breakpoint-down(768){
                -ms-flex-order: 12;
                order: 12;
            }
        }
        .content-box{
            .section-title{
                display: inline-block;
                @include media-breakpoint-down(768){display: none;}
            }
            .mobile-title{
                display: none;
                @include media-breakpoint-down(768){display: inline-block;}
                .section-title{
                    @include media-breakpoint-down(768){display: inline-block;}
                }
            }
        }
    }
	.section-blog {
		.blog-title {
			color: $pmyc;
			background-image: none;
		}
		.blog-post {
			@include media-breakpoint-down(767) {margin-bottom: 2rem;}
			.post-img {
				position: relative;
				overflow: hidden;
				@include media-breakpoint-down(767) {
					height: 200px;
					margin-bottom: 1.5rem;
				}
				@include media-breakpoint-up(768) {
					height: 350px;
					margin-bottom: 3rem;
				}
				img {
					position: absolute;
					top: -99999px;
					right: -99999px;
					bottom: -99999px;
					left: -99999px;
					display: inline-block;
					min-width: 100%;
					min-height: 100%;
					width: auto;
					height: auto;
					margin: auto;
				}
			}
			.post-info {
				font-family: $font-family;
				font-size: 1.25rem;
				font-weight: normal;
				color: $stdc;
				text-transform: uppercase;
			}
			.post-title {
				font-family: $font-family;
				font-size: 1.75rem;
				font-weight: normal;
				color: $pmyc;
			}
		}
	}
	.download-link {
		a {
			display: inline-block;
			&:hover,
			&:active,
			&:focus {
				@include transform(rotate, -5deg);
			}
		}
	}
}