#account-login {
    padding-top: 75px;
    padding-bottom: 105px;
    .info-container {
        margin: auto;
        padding: 90px 105px;
        border: 1px solid $darkgrey;
        position: relative;
        @include media-breakpoint-down(768) {
            padding: 75px 60px;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            margin: auto;
            transform: translateY(-50%);
        }
        input {
            margin-bottom: 18px;
            padding: 10px 20px;
            text-align: center;
            font-size: 18px;
            border: 1px solid $lightgrey;
            &:last-child {
                margin-bottom: 0;
            }
        }
        #account-login-send {
            margin-bottom: 45px;
            padding: 14px 20px;
            width: 100%;
            background-color: $pmyc;
            border: 1px solid $pmyc;
            font-size: 18px;
            color: white;
            text-transform: none;
            &:hover,
            &:focus,
            &:active {
                background-color: white;
                border: 1px solid $darkgrey;
                color: $pmyc;
            }
        }
        #account-forgot-send {
            text-decoration: underline;
        }
        .form-group {
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
