.order-details {
    padding-bottom: 30px;
    .box-title {
        margin-top: 30px;
    }
    p {
        margin-bottom: 5px;
    }
    h4 {
        margin-top: 30px;
        color: $pmyc;
        font-weight: bold;
    }
    .total {
        color: $pmyc;
        font-size: 18px;
    }
    .btn-primary {
        &.disable {
            background-color: $darkgrey;
            color: $istdc;
            &:hover {
                background-color: $darkgrey;
                color: $istdc;
            }
        }
    }
    .btn-print {
        background-color: $pmyc;
        border-color: $pmyc;
        color: white !important;
        &:hover {
            background-color: white;
            border-color: $darkgrey;
            color: $pmyc !important;
        }
    }
}

.order-label-message {
    color: $pmyc;
    font-weight: bold;
}
