.main-product {
    .single-product {
        padding: 105px 15px;
        @include media-breakpoint-down(992) {
            padding: 60px 15px 75px 15px;
        }
        @include media-breakpoint-down(768) {
            padding: 0px 15px 75px 15px;
        }
        .product-image {
            display: -ms-flexbox !important;
            display: flex !important;
            height: 150px;
            background-color: white;
            margin-bottom: 15px;
            img {
                margin-bottom: 15px;
                background-color: white;
                display: block;
                max-height: 100%;
                width: auto;
                margin: auto;
            }
            &.img-sale {
                &:after {
                    content: "PROMO";
                    padding-top: 12px;
                    position: absolute;
                    top: 16px;
                    right: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $pmyc;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            &.img-new {
                &:after {
                    content: "NOVITÀ";
                    padding-top: 12px;
                    position: absolute;
                    top: 16px;
                    right: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $pmyc;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            &.img-promo {
                &:after {
                    content: "Promo";
                    padding-top: 12px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $pmyc;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            &.img-sample {
                &::before {
                    content: "Campione";
                    text-shadow: 2px 2px #fff;
                    //opacity: 0.5;
                    top: 25%;
                    left: 25%;
                    text-align: center;
                    position: absolute;
                    z-index: 1;
                    font-size: 30px;
                    font-weight: $bold;
                    color: $pmyc;
                    height: 20px;
                    width: 30px;
                    -webkit-transform: rotate(-20deg);
                    -moz-transform: rotate(-20deg);
                    -o-transform: rotate(-20deg);
                    -ms-transform: rotate(-20deg);
                    transform: rotate(-20deg);
                }
            }
        }
        .product-main-image {
            @include media-breakpoint-down(768) {
                max-height: 500px;
            }
        }
        .product-category {
            padding-left: 100px;
            font-weight: $bold;
            @include media-breakpoint-down(992) {
                padding-left: 45px;
            }
            @include media-breakpoint-down(576) {
                padding-left: 0;
                padding-bottom: 10px;
                -ms-flex-pack: center !important;
                justify-content: center !important;
            }
        }
        .back-to-category {
            text-align: right;
            @include media-breakpoint-down(576) {
                text-align: center;
            }
        }
        .product-info {
            margin-top: 20px;
            padding: 35px 30px 40px 100px;
            border: 1px solid $lightgrey;
            @include media-breakpoint-down(992) {
                padding: 30px 30px 35px 45px;
            }
            @include media-breakpoint-down(576) {
                padding: 30px 30px 35px 30px;
            }
            h2 {
                font-weight: $bold;
                font-size: 30px;
                text-transform: uppercase;
                @include media-breakpoint-down(576) {
                    font-size: 26px;
                }
            }
            h1 {
                font-weight: $bold;
                font-size: 46px;
                color: $pmyc;
                text-transform: uppercase;
                @include media-breakpoint-down(576) {
                    font-size: 34px;
                }
            }
            .product-desc {
                padding-bottom: 25px;
                .product-short-desc {
                    background-color: $pmyc;
                    color: #fff;
                    padding: 5px 15px;
                    max-width: 360px;
                    font-weight: $bold;
                }
            }
            .attributes-list {
                .single-attribute {
                    padding-bottom: 20px;
                    @include media-breakpoint-down(400) {
                        display: block;
                    }
                    .title {
                        font-weight: $bold;
                        width: 130px;
                    }
                    .content {
                    }
                }
            }
            select {
                border: none;
                width: 165px;
                padding: 5px 20px;
                @include media-breakpoint-down(1200) {
                    max-width: 140px;
                }
                @include media-breakpoint-down(435) {
                    margin-bottom: 15px;
                    max-width: none;
                    width: 100%;
                }
            }
            .attr-year {
                @include media-breakpoint-down(435) {
                    width: 100%;
                }
                select {
                    margin-right: 30px;
                    @include media-breakpoint-down(435) {
                        padding-left: 15px;
                        padding-right: 15px;
                        text-align: center;
                        background-position-x: 12px;
                    }
                    .custom-select {
                        margin-right: 35px;
                        padding: 5px 0;
                        color: $stdc;
                        width: 100%;
                        height: calc(2.25rem + 0px);
                        border: none;
                        background-color: transparent;
                    }
                }
                .product-quantity {
                    border: none;
                    width: 165px;
                    padding: 5px 10px 5px 30px;
                    height: calc(2.25rem + 2px);
                    background-color: white;
                    margin-right: 15px;
                    border: 1px solid $lightergrey;
                    .custom-select {
                        margin-right: 35px;
                        padding: 5px 0;
                        color: $stdc;
                        width: 100%;
                        height: calc(2.25rem + 0px);
                        border: none;
                        background-color: transparent;
                    }
                }
            }
            .qta {
                @include media-breakpoint-down(435) {
                    width: 100%;
                }
                .add-to-cart {
                    position: relative;
                    select {
                        padding-left: 40px;
                        background-position-x: 12px;
                        @include media-breakpoint-down(576) {
                            margin-bottom: 0;
                        }
                        @include media-breakpoint-down(435) {
                            padding-left: 15px;
                            padding-right: 15px;
                            text-align: center;
                        }
                    }
                    input {
                        border: 1px solid $lightergrey;
                        width: 165px;
                        padding: 5px 10px 5px 20px;
                        height: calc(2.25rem + 2px);
                    }
                    button {
                        position: absolute;
                        right: -15px;
                        top: -2px;
                        background-color: black;
                        color: white;
                        &:hover,
                        &:focus,
                        &:active {
                            background-color: $pmyc;
                            color: white;
                        }
                    }
                }
            }
            .product-price {
                background-color: black;
                color: white;
                margin-top: 35px;
                margin-bottom: 30px;
                padding: 3px 0;
                text-align: center;
                max-width: 360px;
                font-size: 20px;
                font-weight: $regular;
                @include media-breakpoint-down(1200) {
                    max-width: 320px;
                }
            }
            .product-stock {
                max-width: 360px;
                @include media-breakpoint-down(1200) {
                    max-width: 320px;
                }
                @include media-breakpoint-down(576) {
                    display: block;
                }
                .stock {
                    color: $errc;
                }
                .incoming {
                    margin-left: auto;
                    color: $scsc;
                    @include media-breakpoint-down(576) {
                        margin-left: 0;
                    }
                }
            }
            .product-manufacturer-desc {
                .btn-collapse h6 {
                    margin-bottom: 25px;
                }
                [data-toggle="collapse"] .fa:before {
                    content: "\f139";
                }

                [data-toggle="collapse"].collapsed .fa:before {
                    content: "\f13a";
                }
                .card {
                    border: none;
                    padding: 1.25rem 0;
                }
            }
        }
        .data-sheet {
            margin-left: 100px;
            margin-top: 35px;
            width: 360px;
            border: 1px solid black;
            background-color: white;
            color: black;
            @include media-breakpoint-down(1200) {
                max-width: 320px;
            }
            @include media-breakpoint-down(992) {
                margin-left: 45px;
            }
            @include media-breakpoint-down(576) {
                margin: 0;
                margin-top: 15px;
                max-width: none;
                width: 100%;
            }
            &:hover,
            &:active,
            &:focus {
                background-color: black;
                color: white;
            }
        }
    }
}

.product-advice {
    padding-bottom: 120px;
    @include media-breakpoint-down(768) {
        padding-bottom: 45px;
    }
    .advice-title {
        margin-bottom: 60px;
        padding: 30px 15px;
        font-size: 30px;
        font-weight: $bold;
        color: $pmyc;
        border-top: 1px solid $lightgrey;
        border-bottom: 1px solid $lightgrey;
        text-transform: uppercase;
        text-align: center;
        @include media-breakpoint-down(576) {
            font-size: 24px;
        }
    }
    .related-product {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        @include media-breakpoint-down(992) {
            padding: 0 30px 15px 30px;
        }
        @include media-breakpoint-down(450) {
            padding: 0 15px 15px 15px;
        }
        @include media-breakpoint-down(375) {
            -ms-flex: 0 0 100%;
            flex: 0 0 100%;
            max-width: 100%;
        }
        .advice-img-box {
            display: -ms-flexbox !important;
            display: flex !important;
            height: 250px;
            background-color: white;
            margin-bottom: 15px;
            img {
                display: block;
                max-height: 100%;
                width: auto;
                margin: auto;
            }
        }
        .advice-info-box {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
            width: 100%;
            height: auto;
            position: static;
            h5 {
                font-size: 20px;
                font-weight: $bold;
                text-transform: uppercase;
                text-align: center;
                margin-top: auto;
            }
            h4 {
                font-size: 20px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
                text-align: center;
            }
            h6 {
                background-color: black;
                color: white;
                margin-top: 5px;
                margin-bottom: 5px;
                padding: 3px 0;
                text-align: center;
                max-width: 360px;
                font-size: 20px;
                font-weight: $regular;
                @include media-breakpoint-down(1200) {
                    max-width: 320px;
                }
            }
            .row {
                @include media-breakpoint-down(992) {
                    -ms-flex-pack: center !important;
                    justify-content: center !important;
                }
                select {
                    border: 1px solid $lightergrey;
                    width: 120px;
                    padding: 5px 20px;
                    @include media-breakpoint-down(1200) {
                        max-width: none;
                        width: 100%;
                        padding-left: 0;
                        text-align: center;
                        background-position-x: 12px;
                    }
                    @include media-breakpoint-down(992) {
                        max-width: 120px;
                    }
                    @include media-breakpoint-down(768) {
                        max-width: none;
                        width: 100%;
                        margin-right: 0;
                    }
                }
                .attr-year {
                    @include media-breakpoint-down(1200) {
                        margin-bottom: 10px;
                        width: 100%;
                    }
                    @include media-breakpoint-down(992) {
                        margin-right: 15px;
                        width: 120px;
                    }
                    @include media-breakpoint-down(768) {
                        margin-right: 0;
                        width: 100%;
                    }
                    select {
                        @include media-breakpoint-down(992) {
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        .custom-select {
                            margin-right: 35px;
                            padding: 5px 0;
                            color: $stdc;
                            width: 100%;
                            height: calc(2.25rem + 0px);
                            border: none;
                            background-color: transparent;
                        }
                    }
                }
                .qta {
                    @include media-breakpoint-down(1200) {
                        width: 100%;
                    }
                    @include media-breakpoint-down(992) {
                        width: 120px;
                    }
                    @include media-breakpoint-down(768) {
                        width: 100%;
                    }
                    .add-to-cart {
                        position: relative;
                        select {
                            text-align: center;
                            background-position-x: 12px;
                            padding-left: 15px;
                            padding-right: 15px;
                        }
                        button {
                            position: absolute;
                            right: -15px;
                            top: -2px;
                            background-color: black;
                            color: white;
                            &:hover,
                            &:focus,
                            &:active {
                                background-color: $pmyc;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
        .advice-stock {
            padding-top: 14px;
            font-size: 14px;
            @include media-breakpoint-down(275) {
                display: block;
            }
            .stock {
                color: $errc;
            }
            .incoming {
                margin-left: auto;
                color: $scsc;
                @include media-breakpoint-down(1200) {
                    margin-left: 0;
                }
                @include media-breakpoint-down(992) {
                    margin-left: auto;
                }
                @include media-breakpoint-down(768) {
                    margin-left: 0;
                }
                @include media-breakpoint-down(375) {
                    margin-left: auto;
                }
                @include media-breakpoint-down(275) {
                    margin-left: 0;
                }
            }
        }
    }
}

.btn-action {
    text-align: center;
    padding: 15px;
}