.evidence {
    background-color: $lightergrey;
    padding: 40px 0 45px 0;
    text-align: center;
    @include media-breakpoint-down(768) {
        margin-bottom: 60px;
    }
    .section-title {
        margin-bottom: 45px;
        display: inline-block;
        font-family: "Caveat Brush", Georgia, serif;
        background-image: url(../img/title-underline.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 75px;
        padding-bottom: 0.5rem;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        font-size: 65px;
    }
    .featured-carousel {
        .owl-dots {
            padding-top: 45px;
            .owl-dot {
                margin-right: 15px;
                display: inline-block;
                width: 15px;
                height: 15px;
                background-color: white;
                border-radius: 50%;
                &:last-child {
                    margin: 0;
                }
            }
            .active {
                background-color: $pmyc;
            }
        }
        .owl-stage {
            display: -ms-flexbox !important;
            display: flex !important;
        }
    }
    .owl-item {
        .single-product {
            padding: 0 7.5px;
            height: 100%;
        }
    }
    .featured-product-container {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
        -ms-flex: 1 1 auto !important;
        flex: 1 1 auto !important;
        width: 100%;
        height: 100%;
        .featured-image {
            display: -ms-flexbox !important;
            display: flex !important;
            height: 350px;
            background-color: white;
            margin-bottom: 15px;
            img {
                margin-bottom: 15px;
                background-color: white;
                display: block;
                max-height: 100%;
                width: auto;
                margin: auto;
            }
            &.img-sale {
                &:after {
                    content: "FOCUS";
                    padding-top: 18px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: #6a238b;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            &.img-new {
                &:after {
                    content: "NOVITÀ";
                    padding-top: 18px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $pmyc;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 14px;
                    font-weight: 600;
                }
            }
            &.img-promo {
                &:after {
                    content: "PROMO";
                    padding-top: 18px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: $pmyc;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 16px;
                    font-weight: 600;
                }
            }
            &.img-sample {
                &:after {
                    content: "CAMPIONE";
                    padding-top: 18px;
                    position: absolute;
                    top: 15px;
                    right: 15px;
                    width: 65px;
                    height: 65px;
                    border-radius: 50%;
                    text-align: center;
                    background-color: #234f8b;
                    color: white;
                    display: block;
                    border-style: dashed;
                    font-size: 13px;
                    font-weight: 600;
                }
            }
        }
        .featured-info-box {
            display: -ms-flexbox !important;
            display: flex !important;
            -ms-flex-direction: column !important;
            flex-direction: column !important;
            -ms-flex: 1 1 auto !important;
            flex: 1 1 auto !important;
            width: 100%;
            height: auto;
            position: static;
            h5 {
                font-size: 20px;
                font-weight: $bold;
                text-transform: uppercase;
                text-align: center;
            }
            h4 {
                font-size: 20px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
                text-align: center;
            }
            h6 {
                margin: auto 0;
                background-color: black;
                color: white;
                margin-top: 15px;
                margin-bottom: 20px;
                padding: 3px 0;
                text-align: center;
                max-width: 100%;
                font-size: 20px;
                font-weight: $regular;
            }
            select {
                border: none;
                width: 120px;
                padding: 5px 20px;
            }
            .attr-year {
                @include media-breakpoint-down(768) {
                    padding-right: 7.5px;
                }
                select {
                    margin-right: 15px;
                }
                .product-quantity {
                    border: none;
                    padding: 5px 10px 5px 10px;
                    height: calc(2.25rem + 2px);
                    background-color: white;
                    margin-right: 15px;
                    .custom-select {
                        margin-right: 35px;
                        padding: 5px 0;
                        color: $stdc;
                        width: 100%;
                        height: calc(2.25rem + 0px);
                        border: none;
                        background-color: transparent;
                    }
                    @include media-breakpoint-down(768) {
                        width: 100%;
                    }
                }
            }
            .qta {
                @include media-breakpoint-down(768) {
                    padding-left: 7.5px;
                }
                @include media-breakpoint-down(576) {
                    margin-top: 15px;
                }
                .add-to-cart {
                    position: relative;
                    select {
                        padding-left: 40px;
                        background-position-x: 12px;
                    }
                    input {
                        border: none;
                        width: 100%;
                        padding: 5px 10px 5px 20px;
                        height: calc(2.25rem + 2px);
                        @include media-breakpoint-down(768) {
                            padding: 5px 0px 5px 20px;
                        }
                    }
                    button {
                        position: absolute;
                        right: -10px;
                        top: -2px;
                        background-color: black;
                        color: white;
                        &:hover,
                        &:focus,
                        &:active {
                            background-color: $pmyc;
                            color: white;
                        }
                    }
                }
            }
        }
        .add-sample {
            button {
                width: 100%;
                margin-top: 16px;
                border: none;
                background-color: black;
                color: white;
                text-transform: uppercase;
                padding: 6px 5px;
                cursor: pointer;
            }
        }
        .featured-stock {
            padding-top: 14px;
            font-size: 14px;
            .stock {
                color: $errc;
            }
            .incoming {
                margin-left: auto;
                color: $scsc;
            }
        }
    }
}

.product-list {
    position: relative;
    padding-top: 75px;
    @include media-breakpoint-down(767) {
        padding-top: 0;
    }
    .overflow {
        position: absolute;
        top: 75px;
        left: 0;
        right: 73%;
        height: 931.8px;
        background-color: $lightergrey;
        @include media-breakpoint-down(768) {
            display: none;
        }
    }
    .mobile-filter-trigger {
        display: none;
        @include media-breakpoint-down(767) {
            display: block;
        }
    }
    .product-filters {
        padding: 60px 15px 70px 15px;
        background-color: $lightergrey;
        @include media-breakpoint-down(767) {
            padding-left: 30px;
            padding-right: 30px;
            position: fixed;
            top: 100%;
            left: 0;
            bottom: 0;
            right: 0;
            z-index: 10;
            max-height: 100%;
            overflow: scroll;
        }
        @include transition("all", "0.3s", "ease");
        .close-filter {
            display: none;
            position: absolute;
            top: 15px;
            right: 15px;
            width: 45px;
            height: 45px;
            border-radius: 50%;
            background-color: $stdc;
            transform: scale(1);
            cursor: pointer;
            box-shadow: 0px 0px 0px 0px transparent;
            @include transition("all", "0.3s", "ease");
            @include media-breakpoint-down(767) {
                display: block;
            }
            span {
                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 2px;
                    height: 20px;
                    background-color: white;
                }
                &:before {
                    transform: translate(-50%, -50%) rotate(-45deg);
                    @include transition("all", "0.3s", "ease");
                }
                &:after {
                    transform: translate(-50%, -50%) rotate(45deg);
                    @include transition("all", "0.3s", "ease");
                }
            }
            &:hover,
            &:active,
            &:focus {
                transform: scale(1.1);
                box-shadow: 2px 2px 2px 2px lightgrey;
                @include transition("all", "0.3s", "ease");
                span {
                    &:before {
                        transform: translate(-50%, -50%) rotate(45deg);
                        @include transition("all", "0.3s", "ease");
                    }
                    &:after {
                        transform: translate(-50%, -50%) rotate(135deg);
                        @include transition("all", "0.3s", "ease");
                    }
                }
            }
        }
        .search-form {
            @include media-breakpoint-down(767) {
                padding-top: 15px;
                padding-bottom: 60px;
            }
        }
        h3 {
            margin-bottom: 45px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 45px;
        }
        .filter-field {
            h5 {
                margin-top: 10px;
                font-size: 22px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            select {
                margin-bottom: 10px;
            }
        }
        .clear-filter {
            .btn-search {
                padding: 6px 10px;
                margin-top: 5px;
                background-color: white;
                border: 1px solid $darkgrey;
                color: $darkgrey;
                text-transform: uppercase;
                width: 100%;
                cursor: pointer;
            }
            #submit-search2 {
                background-color: rgba($pmyc, 0.9);
                border-color: rgba($pmyc, 0.9);
                color: white;
                font-weight: 700;
                letter-spacing: 1px;
                i {
                    color: white;
                }
                &:hover,
                &:active,
                &:focus {
                    background-color: $pmyc;
                    border-color: $pmyc;
                }
            }
        }
        &.open {
            @include media-breakpoint-down(767) {
                top: 0;
            }
            @include transition("all", "0.3s", "ease");
        }
    }
    .product-category-container {
        @include media-breakpoint-down(1200) {
            padding-left: 30px;
        }
        @include media-breakpoint-down(768) {
            padding-left: 15px;
            padding-top: 30px;
        }
        .product-search {
            padding-bottom: 30px;
            font-size: 0;
            label {
                margin: 0;
                margin-right: 20px;
                display: inline-block;
                font-size: 22px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            input {
                display: inline-block;
                width: 75%;
                border: 1px solid $lightergrey;
            }
            button {
                padding-left: 30px;
                padding-right: 30px;
                margin-top: -12px;
                border: 1px solid $pmyc;
                background-color: white;
                color: $pmyc;
            }
        }
        .products-options {
            padding: 35px 15px 30px 15px;
            border-top: 1px solid $lightergrey;
            border-bottom: 1px solid $lightergrey;
            h5 {
                padding-bottom: 15px;
                margin: 0;
                margin-right: 20px;
                display: inline-block;
                font-size: 22px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            div {
                p {
                    margin: 0;
                    display: inline-block;
                }
                input {
                    display: inline-block;
                }
            }
            .products-number {
                select {
                    max-width: 75px;
                }
            }
            .products-layout {
                padding: 0;
                text-align: center;
                font-size: 0;
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-align: center !important;
                align-items: center !important;
                @include media-breakpoint-down(576) {
                    -ms-flex-pack: center !important;
                    justify-content: center !important;
                }
                .layout-row,
                .layout-grid {
                    margin: 0 10px;
                    height: 30px;
                    width: 30px;
                    display: inline-block;
                    transform: scale(1);
                    cursor: pointer;
                    @include media-breakpoint-down(992) {
                        margin: 5px;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        transform: scale(1.2);
                    }
                }
                .layout-row {
                    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.6' style='enable-background:new 0 0 97.8 97.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23d9d9d9;stroke-width:7.5571;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cline class='st0' x1='0' y1='3.8' x2='97.8' y2='3.8'/%3E%3Cline class='st0' x1='0' y1='33.8' x2='97.8' y2='33.8'/%3E%3Cline class='st0' x1='0' y1='63.8' x2='97.8' y2='63.8'/%3E%3Cline class='st0' x1='0' y1='93.8' x2='97.8' y2='93.8'/%3E%3C/g%3E%3C/svg%3E");
                    &:hover,
                    &:active,
                    &:focus {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.6' style='enable-background:new 0 0 97.8 97.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-width:7.5571;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cline class='st0' x1='0' y1='3.8' x2='97.8' y2='3.8'/%3E%3Cline class='st0' x1='0' y1='33.8' x2='97.8' y2='33.8'/%3E%3Cline class='st0' x1='0' y1='63.8' x2='97.8' y2='63.8'/%3E%3Cline class='st0' x1='0' y1='93.8' x2='97.8' y2='93.8'/%3E%3C/g%3E%3C/svg%3E");
                    }
                    &.active {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 97.6' style='enable-background:new 0 0 97.8 97.6;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-width:7.5571;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Cline class='st0' x1='0' y1='3.8' x2='97.8' y2='3.8'/%3E%3Cline class='st0' x1='0' y1='33.8' x2='97.8' y2='33.8'/%3E%3Cline class='st0' x1='0' y1='63.8' x2='97.8' y2='63.8'/%3E%3Cline class='st0' x1='0' y1='93.8' x2='97.8' y2='93.8'/%3E%3C/g%3E%3C/svg%3E");
                    }
                }
                .layout-grid {
                    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 98.1' style='enable-background:new 0 0 97.8 98.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:%23D9D9D9;%7D%0A%3C/style%3E%3Cg%3E%3Crect y='71.6' class='st0' width='26.5' height='26.5'/%3E%3Crect y='35.8' class='st0' width='26.5' height='26.5'/%3E%3Crect class='st0' width='26.5' height='26.5'/%3E%3Crect x='35.7' class='st0' width='26.5' height='26.5'/%3E%3Crect x='71.3' class='st0' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='35.8' class='st0' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='71.6' class='st0' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='71.6' class='st0' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='35.8' class='st0' width='26.5' height='26.5'/%3E%3C/g%3E%3C/svg%3E");
                    &:hover,
                    &:active,
                    &:focus {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 98.1' style='enable-background:new 0 0 97.8 98.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-width:7.5571;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Crect y='71.6' width='26.5' height='26.5'/%3E%3Crect y='35.8' width='26.5' height='26.5'/%3E%3Crect width='26.5' height='26.5'/%3E%3Crect x='35.7' width='26.5' height='26.5'/%3E%3Crect x='71.3' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='35.8' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='71.6' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='71.6' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='35.8' width='26.5' height='26.5'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                    &.active {
                        background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Livello_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 97.8 98.1' style='enable-background:new 0 0 97.8 98.1;' xml:space='preserve'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;stroke:%23000000;stroke-width:7.5571;stroke-miterlimit:10;%7D%0A%3C/style%3E%3Cg%3E%3Crect y='71.6' width='26.5' height='26.5'/%3E%3Crect y='35.8' width='26.5' height='26.5'/%3E%3Crect width='26.5' height='26.5'/%3E%3Crect x='35.7' width='26.5' height='26.5'/%3E%3Crect x='71.3' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='35.8' width='26.5' height='26.5'/%3E%3Crect x='71.3' y='71.6' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='71.6' width='26.5' height='26.5'/%3E%3Crect x='35.7' y='35.8' width='26.5' height='26.5'/%3E%3C/g%3E%3C/svg%3E%0A");
                    }
                }
            }
            .products-order {
                text-align: right;
                select {
                    max-width: 140px;
                }
            }
        }

        .single-product {
            margin-bottom: 45px;
            .single-product-container {
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-direction: column !important;
                flex-direction: column !important;
                -ms-flex: 1 1 auto !important;
                flex: 1 1 auto !important;
                width: 100%;
                height: 100%;
            }
            .product-image {
                display: -ms-flexbox !important;
                display: flex !important;
                height: 350px;
                background-color: white;
                margin-bottom: 15px;
                img {
                    margin-bottom: 15px;
                    background-color: white;
                    display: block;
                    max-height: 100%;
                    width: auto;
                    margin: auto;
                }
                &.img-sale {
                    &:after {
                        content: "FOCUS";
                        padding-top: 18px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: #6a238b;
                        color: white;
                        display: block;
                        border-style: dashed;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                &.img-new {
                    &:after {
                        content: "NOVITÀ";
                        padding-top: 18px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: $pmyc;
                        color: white;
                        display: block;
                        border-style: dashed;
                        font-size: 14px;
                        font-weight: 600;
                    }
                }
                &.img-promo {
                    &:after {
                        content: "PROMO";
                        padding-top: 18px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: $pmyc;
                        color: white;
                        display: block;
                        border-style: dashed;
                        font-size: 16px;
                        font-weight: 600;
                    }
                }
                &.img-sample {
                    &:after {
                        content: "CAMPIONE";
                        padding-top: 18px;
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        width: 65px;
                        height: 65px;
                        border-radius: 50%;
                        text-align: center;
                        background-color: #234f8b;
                        color: white;
                        display: block;
                        border-style: dashed;
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
            }
            .product-info-box {
                display: -ms-flexbox !important;
                display: flex !important;
                -ms-flex-direction: column !important;
                flex-direction: column !important;
                -ms-flex: 1 1 auto !important;
                flex: 1 1 auto !important;
                width: 100%;
                height: auto;
                position: static;
                h5 {
                    font-size: 20px;
                    font-weight: $bold;
                    text-transform: uppercase;
                    text-align: center;
                }
                h4 {
                    font-size: 20px;
                    font-weight: $bold;
                    color: $pmyc;
                    text-transform: uppercase;
                    text-align: center;
                }
                h6 {
                    margin: auto 0;
                    background-color: black;
                    color: white;
                    margin-top: 15px;
                    margin-bottom: 20px;
                    padding: 3px 0;
                    text-align: center;
                    max-width: 100%;
                    font-size: 20px;
                    font-weight: $regular;
                }
                select {
                    border: none;
                    width: 120px;
                    padding: 5px 20px;
                }
                .attr-year {
                    @include media-breakpoint-down(768) {
                        padding-right: 7.5px;
                    }
                    select {
                        margin-right: 15px;
                        /* &::-ms-expand {
                display: none;
            } */
                    }
                    .product-quantity {
                        border: none;
                        width: 95%;
                        padding: 5px 10px 5px 10px;
                        height: calc(2.25rem + 2px);
                        background-color: white;
                        //margin-right: 15px;
                        border: 1px solid $lightergrey;
                        .custom-select {
                            margin-right: 45px;
                            padding: 5px 0;
                            color: $stdc;
                            width: 100%;
                            height: calc(2.25rem + 0px);
                            border: none;
                            background-color: transparent;
                        }
                        @include media-breakpoint-down(768) {
                            width: 100%;
                        }
                    }
                }
                .qta {
                    @include media-breakpoint-down(768) {
                        padding-left: 7.5px;
                    }
                    .add-to-cart {
                        position: relative;
                        select {
                            padding-left: 20px;
                            background-position-x: 12px;
                        }
                        input {
                            border: 1px solid $lightergrey;
                            width: 100%;
                            padding: 5px 10px 5px 10px;
                            height: calc(2.25rem + 2px);
                        }
                        button {
                            position: absolute;
                            right: -10px;
                            top: -2px;
                            background-color: black;
                            color: white;
                            &:hover,
                            &:focus,
                            &:active {
                                background-color: $pmyc;
                                color: white;
                            }
                        }
                    }
                }
            }
            .add-sample {
                button {
                    width: 100%;
                    margin-top: 16px;
                    border: none;
                    background-color: black;
                    color: white;
                    text-transform: uppercase;
                    padding: 6px 5px;
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 1;
                }
            }
            .product-stock {
                padding-top: 14px;
                font-size: 14px;
                .stock {
                    color: $errc;
                }
                .incoming {
                    margin-left: auto;
                    color: $scsc;
                    min-height: 21px;
                    height: 21px;
                }
            }
            .prod-info-select {
                margin: auto 0;
                background-color: black;
                color: white;
                padding: 3px 0;
                text-align: center;
                max-width: 100%;
                font-size: 14px;
                font-weight: $regular;
                &.no-option {
                    background-color: white;
                    color: white;
                }
            }
        }
        .row-layout {
            .single-product {
                padding: 30px 15px;
                margin-bottom: 0;
                -ms-flex: 0 0 100%;
                flex: 0 0 100%;
                max-width: 100%;
                border-bottom: 1px solid #000;
                @include media-breakpoint-down(992) {
                    padding-bottom: 30px;
                }
                @include media-breakpoint-down(576) {
                    padding-bottom: 30px;
                }
                &:last-child {
                    margin-bottom: 30px;
                }
                .single-product-container {
                    min-height: 93px;
                    .product-image {
                        display: none !important;
                    }
                    .product-info-box {
                        min-height: 93px;
                        h5 {
                            padding-right: 15px;
                            margin-top: 0 !important;
                            text-align: left;
                            max-width: 33%;
                            @include media-breakpoint-down(576) {
                                max-width: 100%;
                            }
                        }
                        .product-url {
                            padding-right: 15px;
                            max-width: 33%;
                            @include media-breakpoint-down(992) {
                                max-width: 50%;
                            }
                            @include media-breakpoint-down(576) {
                                max-width: 100%;
                            }
                            h4 {
                                text-align: left;
                            }
                        }
                        .product-price {
                            padding: 7px 0;
                            position: absolute;
                            top: 15px;
                            left: initial;
                            right: 165px;
                            display: block;
                            width: 150px;
                            @include media-breakpoint-down(992) {
                                width: 100px;
                                right: 115px;
                            }
                            @include media-breakpoint-down(576) {
                                margin-left: auto;
                                margin-right: auto;
                                position: relative;
                                top: initial;
                                left: initial;
                                right: initial;
                                width: 100%;
                            }
                        }
                        .add-cart-info {
                            position: absolute;
                            top: 30px;
                            right: 0;
                            max-width: 150px !important;
                            display: block;
                            @include media-breakpoint-down(992) {
                                width: 100px;
                            }
                            @include media-breakpoint-down(576) {
                                margin: auto;
                                position: relative;
                                top: initial;
                                left: initial;
                                right: initial;
                                display: flex;
                                width: 100%;
                                max-width: 100% !important;
                            }
                            .attr-year {
                                margin-bottom: 15px;
                                max-width: 100%;
                                .product-quantity {
                                    div {
                                        width: 100%;
                                    }
                                }
                            }
                            .qta {
                                max-width: 100%;
                            }
                        }
                    }
                    .add-sample {
                        width: 150px;
                        position: absolute;
                        right: 165px;
                        top: 83px;
                        @include media-breakpoint-down(992) {
                            width: 100px;
                            right: 115px;
                        }
                        @include media-breakpoint-down(576) {
                            margin: auto;
                            width: 100%;
                            position: relative;
                            top: initial;
                            left: initial;
                            right: initial;
                        }
                        .add-sample-to-cart {
                            margin: 0;
                            @include media-breakpoint-down(576) {
                                font-size: 16px;
                                line-height: initial;
                                padding: 7px 0;
                            }
                        }
                    }
                    .product-stock {
                        position: absolute;
                        top: 20px;
                        left: 33%;
                        width: 240px;
                        display: block;
                        @include media-breakpoint-down(1200) {
                            width: 140px;
                        }
                        @include media-breakpoint-down(992) {
                            position: relative;
                            top: initial;
                            left: initial;
                            bottom: initial;
                            right: initial;
                            width: 100%;
                            display: flex;
                            flex-wrap: wrap;
                        }
                        @include media-breakpoint-down(576) {
                            position: relative;
                            top: initial;
                            left: initial;
                            right: initial;
                            width: 100%;
                            display: flex;
                        }
                        .stock {
                            @include media-breakpoint-down(992) {
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                        }
                        .incoming {
                            margin-top: 15px;
                            min-height: 21px;
                            height: 21px;
                            @include media-breakpoint-down(992) {
                                margin-top: 0;
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                            @include media-breakpoint-down(576) {
                                margin-top: 0;
                            }
                        }
                        .col-12 {
                            @include media-breakpoint-down(576) {
                                -ms-flex: 0 0 50%;
                                flex: 0 0 50%;
                                max-width: 50%;
                            }
                        }
                    }
                    .prod-info-select {
                        margin: auto 0;
                        background-color: black;
                        color: white;
                        margin-top: 15px;
                        padding: 3px 0;
                        text-align: center;
                        max-width: 100%;
                        font-size: 20px;
                        font-weight: $regular;
                        &.no-option {
                            display: none;
                        }
                    }
                }
            }
        }
    }
    .no-prod {
        width: 100%;
        margin-top: 75px;
        display: inline-block;
        font-family: "Caveat Brush", Georgia, serif;
        text-align: center;
        background-image: url(../img/title-underline.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: 45px;
        padding-bottom: 0.5rem;
        -webkit-transform: rotate(-5deg);
        -moz-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotate(-5deg);
        font-size: 35px;
    }
}

#cart-collapse {
    display: none !important;
}

.admin-main-header {
    #btn-new {
        i {
            padding-top: 10px;
        }
    }
}

.alert-modal {
    .modal-body {
        padding: 45px;
    }
    button {
        position: absolute;
        top: -18px;
        right: -17px;
        height: 37px;
        width: 37px;
        border-radius: 50%;
        background-color: $pmyc;
        padding: 0;
        img {
            margin-left: -7px;
            max-width: 18px;
        }
    }
}

.disable-buy {
    pointer-events: none;
    background-color: darkgrey !important;
}

.pagination {
    padding-bottom: 30px;
    ul {
        margin: 0;
        li {
            a {
                padding: 2px 10px;
                border: none;
                border-radius: 0 !important;
                color: $darkgrey;
                line-height: 1;
                text-align: center;
                background-color: white;
                font-size: 20px;
                font-weight: $bold;
                border-left: 1px solid $darkgrey;
                border-right: 1px solid $darkgrey;
                &:hover,
                &:active,
                &:focus {
                    background-color: white !important;
                    color: $pmyc !important;
                    border: none !important;
                    border-left: 1px solid $pmyc !important;
                    border-right: 1px solid $pmyc !important;
                }
            }
            &:first-child {
                a {
                    border-left: none !important;
                }
            }
            &:last-child {
                a {
                    border-right: none !important;
                }
            }
            span {
                padding: 2px 10px;
                border: none;
                border-radius: 0 !important;
                color: $darkgrey;
                line-height: 1;
                text-align: center;
                background-color: white;
                font-size: 20px;
                font-weight: $bold;
                border-right: 1px solid $darkgrey;
            }
        }
        .active {
            a {
                background-color: white !important;
                color: $pmyc !important;
                border-left: 1px solid $pmyc !important;
                border-right: 1px solid $pmyc !important;
                &:hover,
                &:active,
                &:focus {
                    background-color: white !important;
                    color: $pmyc !important;
                    border: none !important;
                    border-left: 1px solid $pmyc !important;
                    border-right: 1px solid $pmyc !important;
                }
            }
            &:first-child {
                a {
                    border-left: none !important;
                }
            }
            &:last-child {
                a {
                    border-right: none !important;
                }
            }
        }
    }
}
