.register-container {
    .title-box {
        text-align: center;
        h1 {
            margin-bottom: 60px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
        }
    }
    .form-header {
        div {
            padding-bottom: 30px;
            text-align: center;
            p {
                margin: 0;
                font-size: 16px;
                color: $pmyc;
                font-weight: $regular;
                text-transform: none;
                &:first-child {
                    font-size: 22px;
                    font-weight: $bold;
                    color: $pmyc;
                    text-transform: uppercase;
                }
            }
        }
        .typeuser {
            padding-bottom: 0;
        }
        .form-group {
            padding-bottom: 0;
        }
    }
    #account-register-container {
        .form-group {
            .input,
            .select {
                width: 100% !important;
            }
            .select2-container {
                width: 100% !important;
            }
        }
        .column-header {
            padding-bottom: 30px;
            min-height: 90px;
            display: flex;
            align-items: flex-end;
            justify-content: center;
            h4 {
                margin: 0;
                font-size: 22px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
        }
    }
    .submit-box {
        padding-top: 75px;
        text-align: center;
        .form-group {
            button {
                width: 100%;
                color: $darkgrey;
                background-color: white;
                border: 1px solid $darkgrey;
            }
        }
        p {
            a {
                font-size: 14px;
                text-transform: uppercase;
                color: $darkgrey;
            }
        }
    }

    .company {
        display: none;
    }

    .reg-privacy-consent {
        padding-top: 10px;
        #account-register-consent {
            height: auto;
            width: 10px;
            display: inline-block;
        }
    }

    .contract {
        border: 1px solid $pmyc;
        height: 100px;
        padding: 15px;
    }
}

.btn-manual-insert {
    color: #414042;
    background-color: white;
    border: 1px solid #414042;
}

#CSClear {
    background-color: $darkgrey;
}

#CScommonValueV {
    font-weight: $bold;
    font-size: 21px;
    &.success {
        color: $scsc;
    }
    &.alert {
        color: $wrnc;
    }
    &.danger {
        color: $errc;
    }
}

#CScreditLimitV {
    font-weight: $bold;
}
