.admin-agent {
    .admin-main-header {
        padding-bottom: 60px;
        //border-bottom: 1px solid $lightgrey;
        text-align: center;
        @include media-breakpoint-down(575) {
            padding-left: 15px;
            padding-right: 15px;
        }
        .customers-box {
            @include media-breakpoint-down(767) {
                padding: 0 30px;
            }
            .user-box {
                @include media-breakpoint-down(575) {
                    margin-bottom: 60px;
                }
                .user-img {
                    position: absolute;
                    left: -20px;
                    z-index: 10;
                    height: 51px;
                }
                .input-group {
                    input {
                        padding-left: 25px;
                        letter-spacing: 0.5px;
                        border-right: none;
                        &:focus {
                            outline: none;
                            box-shadow: none;
                        }
                    }
                    ul {
                        width: 300%;
                        height: 200px;
                        overflow: scroll;
                        z-index: 5;
                        left: -50% !important;
                        @include media-breakpoint-down(767) {
                            width: 210%;
                            left: 0 !important;
                        }
                        @include media-breakpoint-down(575) {
                            width: 100%;
                            background-color: white;
                            z-index: 11;
                        }
                    }
                    button {
                        background-color: white;
                        border-left: none;
                        img {
                            max-height: 20px;
                        }
                    }
                }
            }
            .box-right {
                z-index: 10;
            }
        }

        h2 {
            margin-bottom: 45px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
        }
        .box-center {
            padding: 0 60px;
            text-transform: uppercase;
            font-size: 22px;
            select {
                padding: 10px 15px;
                margin-top: 20px;
                height: auto;
                font-size: 18px;
                text-transform: none;
                text-align: center;
            }
        }
        .box-right {
            padding-right: 30px;
            @include media-breakpoint-down(768) {
                padding-right: 0;
            }
            a {
                position: relative;
                padding: 8px 15px;
                border: 1px solid $pmyc;
                text-transform: uppercase;
                color: $pmyc;
                width: 100%;
                font-size: 18px;
                @include media-breakpoint-down(992) {
                    padding-right: 30px;
                }
                &:after {
                    position: absolute;
                    top: -10px;
                    right: 3px;
                    content: "+";
                    font-size: 25px;
                    background-color: white;
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    line-height: 14px;
                    @include media-breakpoint-down(1199) {
                        right: -5px;
                    }
                    @include media-breakpoint-down(991) {
                        right: 1px;
                    }
                    @include media-breakpoint-down(767) {
                        right: 15px;
                    }
                }
                &:hover,
                &:focus,
                &:active {
                    color: $pmyc;
                }
                span {
                    position: absolute;
                    width: 51px;
                    height: 51px;
                    border-radius: 50%;
                    border: 3px solid $pmyc;
                    top: -4px;
                    right: -30px;
                    overflow: hidden;
                    background-color: white;
                    @include media-breakpoint-down(1199) {
                        right: -35px;
                    }
                    @include media-breakpoint-down(991) {
                        right: -30px;
                    }
                    @include media-breakpoint-down(767) {
                        right: -16px;
                    }
                    i {
                        font-size: 38px;
                        padding-top: 10px;
                    }
                }
            }
        }
        .single-address {
            width: 100%;
            .content {
                height: 100%;
                padding: 45px;
                border: 1px solid $darkgrey;
                text-align: left;
                display: flex;
                flex-direction: column;
                @include media-breakpoint-down(1200) {
                    padding: 30px;
                }
                @include media-breakpoint-down(992) {
                    padding: 15px;
                }
                h5 {
                    margin-bottom: 30px;
                    font-size: 20px;
                    font-weight: $bold;
                    color: $pmyc;
                    text-transform: uppercase;
                }
                h6 {
                    margin-bottom: 15px;
                    font-size: 14px;
                    font-weight: $bold;
                    color: $darkgrey;
                }
                p {
                    margin-bottom: 3px;
                    word-break: break-all;
                    &:last-child {
                        margin-bottom: 3px;
                    }
                }
                .btn-box {
                    margin-top: auto;
                    button {
                        margin-top: 15px;
                        cursor: pointer;
                    }
                }
            }
            &.disable {
                h6 {
                    color: $lightgrey;
                }
                p {
                    color: $lightgrey;
                }
                .btn-enable-address {
                    background-color: $pmyc;
                    border-color: $pmyc;
                }
            }
        }
        .data-info {
            padding: 30px;
            border: 1px solid $darkgrey;
            margin-bottom: 30px;
            @include media-breakpoint-down(1200) {
                padding: 30px;
            }
            @include media-breakpoint-down(992) {
                padding: 30px;
            }
        }
    }
    .admin-main-body {
        padding: 60px 15px 90px 15px;
        .order-section {
            padding-bottom: 120px;
            .section-header {
                padding-bottom: 60px;
                .col-center {
                    text-align: center;
                    h2 {
                        display: inline-block;
                        font-family: "Caveat Brush", Georgia, serif;
                        background-image: url(../img/title-underline.png);
                        background-position: center bottom;
                        background-repeat: no-repeat;
                        background-size: 75px;
                        padding-bottom: 0.5rem;
                        -webkit-transform: rotate(-5deg);
                        -moz-transform: rotate(-5deg);
                        -ms-transform: rotate(-5deg);
                        transform: rotate(-5deg);
                        font-size: 70px;
                    }
                }
                .col-right {
                    a {
                        background-color: transparent;
                        border: 1px solid $pmyc;
                        color: $pmyc;
                    }
                }
            }
            .section-body {
                .table-header {
                    margin: 0;
                    border-bottom: 1px solid $darkgrey;
                    div {
                        padding-bottom: 30px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: $bold;
                    }
                }
                .table-body {
                    .single-row {
                        padding: 45px 15px 30px 15px;
                        border-bottom: 1px solid $darkgrey;
                        div {
                            text-align: center;
                        }
                        .customer {
                            p {
                                margin: 0;
                            }
                        }
                        .invoice {
                            padding-top: 15px;
                            border-top: 1px solid $lightgrey;
                            text-transform: uppercase;
                        }
                        .order {
                            padding-top: 15px;
                            border-top: 1px solid $lightgrey;
                            text-transform: uppercase;
                        }
                        a {
                            color: $darkgrey;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
        .single-address {
            width: 100%;
            .content {
                height: 100%;
                padding: 45px;
                border: 1px solid $darkgrey;
                text-align: left;
                display: flex;
                flex-direction: column;
                @include media-breakpoint-down(1200) {
                    padding: 30px;
                }
                @include media-breakpoint-down(992) {
                    padding: 15px;
                }
                h5 {
                    margin-bottom: 15px;
                    font-size: 20px;
                    font-weight: $bold;
                    color: $pmyc;
                    text-transform: uppercase;
                }
                h6 {
                    margin: 10px 0 5px;
                    font-size: 14px;
                    font-weight: $bold;
                    color: $darkgrey;
                }
                p {
                    font-size: 18px;
                    margin-bottom: 3px;
                    word-break: break-all;
                    &:last-child {
                        margin-bottom: 3px;
                    }
                }
                .btn-box {
                    margin-top: auto;
                    button {
                        margin-top: 15px;
                        cursor: pointer;
                    }
                }
            }
            &.disable {
                h6 {
                    color: $lightgrey;
                }
                p {
                    color: $lightgrey;
                }
                .btn-enable-address {
                    background-color: $pmyc;
                    border-color: $pmyc;
                }
            }
            .cashback {
                font-size: 16px;
                font-weight: $bold;
                color: $pmyc;
                text-transform: uppercase;
            }
            .csinfo {
                span {
                    font-weight: $bold;
                }
                .success {
                    color: $scsc;
                }
                .alert {
                    color: $wrnc;
                }
                .danger {
                    color: $errc;
                }
            }
        }
        .data-section {
            text-align: center;
            h2 {
                margin-bottom: 60px;
                display: inline-block;
                font-family: "Caveat Brush", Georgia, serif;
                background-image: url(../img/title-underline.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 75px;
                padding-bottom: 0.5rem;
                -webkit-transform: rotate(-5deg);
                -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
                font-size: 70px;
            }
            .data-info {
                padding: 45px 15px;
                border: 1px solid $lightgrey;
                .admin {
                    margin-bottom: 0;
                    font-weight: $bold;
                    span {
                        font-weight: $regular;
                    }
                }
                .password {
                    font-weight: $bold;
                    span {
                        font-weight: $regular;
                    }
                }
                .content {
                }
                a {
                    color: $darkgrey;
                }
            }
        }
        .addresses-section {
            .adresses {
                padding-top: 30px;
                .single-address {
                    .content {
                        height: 100%;
                        padding: 60px 15px 60px 90px;
                        border: 1px solid $lightgrey;
                        text-align: left;
                        h6 {
                            margin-bottom: 30px;
                            font-size: 20px;
                            font-weight: $bold;
                            color: $pmyc;
                            text-transform: uppercase;
                        }
                        p {
                            margin-bottom: 3px;
                            &:last-child {
                                margin-bottom: 3px;
                            }
                        }
                        button {
                            margin-top: 30px;
                            padding: 0;
                            border: none;
                            background-color: transparent;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .more-address {
                    height: 100%;
                    border: 1px solid $lightgrey;
                    border-right: none;
                    font-size: 60px;
                    color: $pmyc;
                    button {
                        cursor: pointer;
                    }
                }
            }
        }
        .single-box {
            .btn-user-nav {
                width: 90%;
                height: 100%;
                padding: 45px 0;
                display: inline-block;
                text-align: center;
                position: relative;
                @include media-breakpoint-down(575) {
                    padding-bottom: 0;
                }
                span {
                    width: 60px;
                    height: 60px;
                    border-radius: 50%;
                    border: 4px solid $pmyc;
                    overflow: hidden;
                    top: -15px;
                    left: calc(50% - 30px);
                    position: absolute;
                    background-color: white;
                    i {
                        font-size: 32px;
                        padding-top: 10px;
                        color: $pmyc;
                    }
                }
                h5 {
                    margin-top: 15px;
                    font-size: 24px;
                    font-family: "Anonymous Pro", Georgia, serif;
                    font-weight: 400;
                    text-transform: uppercase;
                    letter-spacing: 0;
                }
                &:hover {
                    span {
                        border: 4px solid black;
                        i {
                            color: black;
                        }
                    }
                    h5 {
                    }
                }
                &.disabled {
                    color: $lightgrey !important;
                    span {
                        border: 4px solid $lightgrey;
                        color: $lightgrey !important;
                        i {
                            color: $lightgrey !important;
                        }
                    }
                }
            }
        }
        .boxes-section {
            padding-top: 75px;
            padding-bottom: 90px;
            .col-title {
                text-align: center;
                h3 {
                    margin-bottom: 45px;
                    display: inline-block;
                    font-family: "Caveat Brush", Georgia, serif;
                    background-image: url(../img/title-underline.png);
                    background-position: center bottom;
                    background-repeat: no-repeat;
                    background-size: 75px;
                    padding-bottom: 0.5rem;
                    -webkit-transform: rotate(-5deg);
                    -moz-transform: rotate(-5deg);
                    -ms-transform: rotate(-5deg);
                    transform: rotate(-5deg);
                    font-size: 70px;
                }
            }
            h3 {
                margin-bottom: 30px;
                display: inline-block;
                font-family: "Caveat Brush", Georgia, serif;
                background-image: url(../img/title-underline.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 75px;
                padding-bottom: 0.5rem;
                -webkit-transform: rotate(-5deg);
                -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
                font-size: 70px;
            }
            .adresses {
                margin: 0;
                padding-top: 30px;
                .single-address {
                    .content {
                        height: 100%;
                        padding: 60px 15px 60px 90px;
                        border: 1px solid $lightgrey;
                        text-align: left;
                        h6 {
                            margin-bottom: 30px;
                            font-size: 20px;
                            font-weight: $bold;
                            color: $pmyc;
                            text-transform: uppercase;
                        }
                        p {
                            margin-bottom: 3px;
                            &:last-child {
                                margin-bottom: 3px;
                            }
                        }
                        button {
                            margin-top: 30px;
                            padding: 0;
                            border: none;
                            background-color: transparent;
                            text-decoration: underline;
                            cursor: pointer;
                        }
                    }
                }
                .more-address {
                    height: 100%;
                    border: 1px solid $lightgrey;
                    border-right: none;
                    font-size: 60px;
                    color: $pmyc;
                    button {
                        cursor: pointer;
                    }
                }
            }
        }
    }
    .table {
        td {
            border-top: 1px solid $darkgrey;
            padding: 1rem 0.75rem;
        }
        th {
            border-top: none;
            padding: 1rem 0.75rem;
        }
        thead {
            th {
                border-bottom: 1px solid $darkgrey;
            }
        }
        tbody {
            tr {
                padding: 45px 15px 30px 15px;
                border-bottom: 1px solid $darkgrey;
            }
        }
    }
    .dataTables_paginate {
        .page-item {
            .page-link {
                color: $pmyc;
            }
            &.active {
                .page-link {
                    color: white;
                    background-color: $pmyc;
                    border-color: $pmyc;
                }
            }
        }
    }
    .modal-title {
        font-weight: $bold;
        font-size: 27px;
        color: $pmyc;
    }
    .resume {
        padding: 45px;
        border: 1px solid $darkgrey;
        text-align: left;
        display: flex;
        flex-direction: column;
        @include media-breakpoint-down(1200) {
            padding: 30px;
        }
        @include media-breakpoint-down(992) {
            padding: 15px;
        }
        h5 {
            margin-bottom: 30px;
            font-size: 20px;
            font-weight: $bold;
            color: $pmyc;
            text-transform: uppercase;
        }
    }
}
//------------------------------------------------------------
.admin-customer {
    margin-bottom: 45px;
    .admin-main-header {
        padding-bottom: 60px;
        .main-title {
            text-align: center;
            h1 {
                margin-bottom: 60px;
                display: inline-block;
                font-family: "Caveat Brush", Georgia, serif;
                background-image: url(../img/title-underline.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 75px;
                padding-bottom: 0.5rem;
                -webkit-transform: rotate(-5deg);
                -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
                font-size: 70px;
            }
        }
        .row {
            margin-left: 0;
            margin-right: 0;
            padding: 45px 15px 55px 15px;
            border-top: 1px solid $lightgrey;
            border-bottom: 1px solid $lightgrey;
            &:last-child {
                padding: 45px 15px 45px 15px;
                border-top: none;
                text-transform: uppercase;
            }
            .container {
                text-align: center;
            }
            .box-center {
                padding: 0 60px;
                text-transform: uppercase;
                font-size: 22px;
                text-align: center;
                font-weight: $bold;
                select {
                    padding: 10px 15px;
                    margin-top: 20px;
                    height: auto;
                    font-size: 18px;
                    text-transform: none;
                    text-align: center;
                    font-weight: $regular;
                }
            }
        }
    }

    .admin-table {
        padding: 45px 15px 90px 15px;
        .order-section {
            padding-bottom: 60px;
            .section-header {
                padding-bottom: 60px;
                .col-center {
                    text-align: center;
                    h2 {
                        display: inline-block;
                        font-family: "Caveat Brush", Georgia, serif;
                        background-image: url(../img/title-underline.png);
                        background-position: center bottom;
                        background-repeat: no-repeat;
                        background-size: 75px;
                        padding-bottom: 0.5rem;
                        -webkit-transform: rotate(-5deg);
                        -moz-transform: rotate(-5deg);
                        -ms-transform: rotate(-5deg);
                        transform: rotate(-5deg);
                        font-size: 70px;
                    }
                }
                .col-right {
                    a {
                        background-color: transparent;
                        border: 1px solid $pmyc;
                        color: $pmyc;
                    }
                }
            }
            .section-body {
                .table-header {
                    margin: 0;
                    border-bottom: 1px solid $darkgrey;
                    div {
                        padding-bottom: 30px;
                        text-transform: uppercase;
                        text-align: center;
                        font-weight: $bold;
                    }
                }
                .table-body {
                    .single-row {
                        padding: 45px 15px 30px 15px;
                        border-bottom: 1px solid $darkgrey;
                        div {
                            text-align: center;
                        }
                        .customer {
                            p {
                                margin: 0;
                            }
                        }
                        .invoice {
                            padding-top: 15px;
                            border-top: 1px solid $lightgrey;
                            text-transform: uppercase;
                        }
                        .order {
                            padding-top: 15px;
                            border-top: 1px solid $lightgrey;
                            text-transform: uppercase;
                        }
                        .continue {
                            border-top: 1px solid $lightgrey;
                            padding-top: 15px;
                            text-align: right;
                            a {
                                color: $darkgrey;
                                font-size: 14px;
                                text-transform: uppercase;
                                color: $pmyc;
                            }
                        }
                    }
                }
            }
        }
    }

    .admin-main-body {
        padding: 90px 15px 90px 15px;
        border-top: 1px solid $lightgrey;
        border-bottom: 1px solid $lightgrey;
        .order-section {
            padding-bottom: 0;
            .section-body {
                .table-body {
                    .single-row {
                        a {
                            color: $darkgrey;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .boxes-section {
        padding-top: 75px;
        padding-bottom: 90px;
        .col-title {
            text-align: center;
            h3 {
                margin-bottom: 30px;
                display: inline-block;
                font-family: "Caveat Brush", Georgia, serif;
                background-image: url(../img/title-underline.png);
                background-position: center bottom;
                background-repeat: no-repeat;
                background-size: 75px;
                padding-bottom: 0.5rem;
                -webkit-transform: rotate(-5deg);
                -moz-transform: rotate(-5deg);
                -ms-transform: rotate(-5deg);
                transform: rotate(-5deg);
                font-size: 70px;
            }
        }
        h3 {
            margin-bottom: 30px;
            display: inline-block;
            font-family: "Caveat Brush", Georgia, serif;
            background-image: url(../img/title-underline.png);
            background-position: center bottom;
            background-repeat: no-repeat;
            background-size: 75px;
            padding-bottom: 0.5rem;
            -webkit-transform: rotate(-5deg);
            -moz-transform: rotate(-5deg);
            -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
            font-size: 70px;
        }
        .adresses {
            margin: 0;
            padding-top: 30px;
            .single-address {
                .content {
                    height: 100%;
                    padding: 60px 15px 60px 90px;
                    border: 1px solid $lightgrey;
                    text-align: left;
                    h6 {
                        margin-bottom: 30px;
                        font-size: 20px;
                        font-weight: $bold;
                        color: $pmyc;
                        text-transform: uppercase;
                    }
                    p {
                        margin-bottom: 3px;
                        &:last-child {
                            margin-bottom: 3px;
                        }
                    }
                    button {
                        margin-top: 30px;
                        padding: 0;
                        border: none;
                        background-color: transparent;
                        text-decoration: underline;
                        cursor: pointer;
                    }
                }
            }
            .more-address {
                height: 100%;
                border: 1px solid $lightgrey;
                border-right: none;
                font-size: 60px;
                color: $pmyc;
                button {
                    cursor: pointer;
                }
            }
        }
    }

    .payment-section {
        border-top: 1px solid $lightgrey;
        border-bottom: 1px solid $lightgrey;
        img {
            max-width: 50px;
        }
    }
}

.radioFilterBy {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 13px;
    top: calc(100% + 7px);
}

.modal {
    .news {
        height: 300px;
    }
    .contract {
        height: 300px;
    }
}
