@import "partials/fonts";
@import "partials/variables";

.header,
.footer,
.btn,
.row-discount,
.user-box {
    display: none !important;
}

@page {
    margin: 36px !important;
}

a[href^="http"]::after {
    content: " (" attr(href) ")";
}

.step-title {
    font-size: 24px !important;
    padding-bottom: 0;
    margin-bottom: 15px !important;
    line-height: 36px !important;
}

.step-content {
    padding: 0px !important;
}

.single-step {
    padding: 0px !important;
}

.cart-header {
    padding: 15px 0px !important;
}
.cart-addresses {
    padding: 0px !important;
}
.cart-header {
    padding: 0px !important;
}
.cart-shipping {
    padding: 0px !important;
}
.cart-pay-method {
    padding: 0px !important;
}

.delivery-img,
.btn-buy,
.btn-disable-address,
.btn-uses-address,
.delete {
    display: none !important;
}

.shipping {
    .single-address {
        &.selected {
            .content {
                background: none !important;
                color: $pmyc !important;
                h6,
                h5,
                p {
                    color: $pmyc !important;
                }
            }
        }
        .content {
            background: none !important;
            color: $stdc !important;
            h6,
            h5,
            p {
                color: $stdc !important;
            }
        }
    }
}

input {
    border: none;
    padding: 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
}
