/**
 *
 * STILI BASE - INIZIO
 * Assegno gli stili base per vari tag html (es: body, a, ul ecc.)
 * 
 **/

html {height: 100%;}

body {
	height: 100%;
	font-size: $font-size;
	font-family: $font-family;
	font-weight: $font-weight;
	color: $font-color;
	letter-spacing: $letter-spacing;
	background-color: $body-bc;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {font-weight: 600;}

strong {font-weight: 600;}

a {
	color: $pmyc;
  text-decoration: none;
  @include transition("color", ".3s", "ease");
  &:hover, 
	&:focus {
		color: $pmyc;
    text-decoration: underline;
    @include transition("color", ".3s", "ease");
  }
}

// Rimuovo il margin bottom da tutti i paragrafi in ultima posizione per evitare spazi indesiderati
p:last-child {margin-bottom: 0;}

// Con Font Awesome 5 questa icona fa parte del set "Pro".
// Per mantenere la compatibilità con Font Awesome 4 la sovrascrivo con il content della classe "fa-tachometer-alt"
.fa-tachometer::before {content: "\f3fd";}

hr {
	&.hr,
	&.hr-100 {
		height: 1rem;
		background-position: center;
		background-repeat: no-repeat;
		background-size: contain;
		
		border: none;
		@include media-breakpoint-down(767) {
			margin-top: 2rem;
			margin-bottom: 2rem;
		}
		@include media-breakpoint-up(768) {
			margin-top: 5rem;
			margin-bottom: 5rem;
		}
	}
}

.hr {background-image: url(../img/hr.png);}
.hr-100 {background-image: url(../img/hr-100.png);}

/**
 *
 * STILI BASE - FINE
 * 
 **/