/**
 *
 * IMPOSTAZIONI FONT - INIZIO
 * Assegnazione dei valori css della famiglia di font
 * Disposizone: dal più fine al più spesso
 * 
 **/

@font-face {
	font-family: 'Anonymous Pro';
	src: url('../fonts/anonymouspro/anonymouspro-regular.eot');
	src: url('../fonts/anonymouspro/anonymouspro-regular.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/anonymouspro/anonymouspro-regular.woff2') format('woff2'),
			 url('../fonts/anonymouspro/anonymouspro-regular.woff') format('woff'),
			 url('../fonts/anonymouspro/anonymouspro-regular.ttf') format('truetype'),
			 url('../fonts/anonymouspro/anonymouspro-regular.svg#anonymous_proregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Anonymous Pro';
	src: url('../fonts/anonymouspro/anonymouspro-bold.eot');
	src: url('../fonts/anonymouspro/anonymouspro-bold.eot?#iefix') format('embedded-opentype'),
			 url('../fonts/anonymouspro/anonymouspro-bold.woff2') format('woff2'),
			 url('../fonts/anonymouspro/anonymouspro-bold.woff') format('woff'),
			 url('../fonts/anonymouspro/anonymouspro-bold.ttf') format('truetype'),
			 url('../fonts/anonymouspro/anonymouspro-bold.svg#anonymous_probold') format('svg');
	font-weight: bold;
	font-style: normal;
}


@font-face {
    font-family: 'Caveat Brush';
    src: url('../fonts/caveatbrush/caveatbrush-regular.eot');
    src: url('../fonts/caveatbrush/caveatbrush-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/caveatbrush/caveatbrush-regular.woff2') format('woff2'),
         url('../fonts/caveatbrush/caveatbrush-regular.woff') format('woff'),
         url('../fonts/caveatbrush/caveatbrush-regular.ttf') format('truetype'),
         url('../fonts/caveatbrush/caveatbrush-regular.svg#caveat_brushregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

/**
 *
 * IMPOSTAZIONI FONT - FINE
 * 
 **/



/**
 *
 * IMPOSTAZIONI ICONE DEL SITO - INIZIO
 * Assegnazione dei valori css delle icone generate come font 
 * 
 **/



/**
 *
 * IMPOSTAZIONI ICONE DEL SITO - FINE
 * 
 **/