.footer {
	@include media-breakpoint-down(767) {font-size: .875rem;}
	@include media-breakpoint-up(768) {font-size: 1.25rem;}
    .shop-add-footer{
        margin-bottom: -50px;
        font-size: 18px;
        @include media-breakpoint-down(767) {
           margin-bottom: -30px;
        }
    }
	a {
		color: $stdc;
		&:hover,
		&:focus,
		&:active {
			color: $pmyc;
		}
	}
	img {margin-top: -11rem;}
	.footer-top {padding-bottom: 3rem;}
	.footer-bottom {
		background-color: $verylightrgrey;
		padding-top: 2rem;
		padding-bottom: 2rem;
		@include media-breakpoint-down(767) {font-size: .875rem;}
		@include media-breakpoint-up(768) {font-size: 1.125rem;}
	}
}