/**
 *
 * STILI FORM - INIZIO
 * Assegno gli stili agli elementi della sidebar
 * 
 **/

// PULSANTE - INIZIO
// Override degli stili del pulsante base di Bootstrap 4

.btn {
	text-transform: uppercase;
	line-height: 1;
	border-radius: 0;
	padding: 1rem 2rem;
	//&:not(.btn-rect) {border-radius: 1.1rem;}
	&:not(.btn-big) {padding: .5rem 1rem;}
}

// PULSANTE - FINE



// PULSANTE DEFAULT - INIZIO
// Override degli stili del pulsante di default di Bootstrap 4

.btn-default {
	background-color: $infc;
	border: 1px solid transparent;
	&:hover,
	&:focus,
	&:active {
		color: $istdc;
		background-color: $pmyc;
		border-color: transparent;
	}
}

// PULSANTE DEFAULT - FINE

// PULSANTE PRIMARY - INIZIO
// Override degli stili del pulsante primario di Bootstrap 4

.btn-primary {
	color: $istdc;
	background-color: $pmyc;
	border: 1px solid transparent;
	&:hover,
	&:focus,
	&:active {
		background-color: darken($pmyc, 50%);
		border-color: transparent;
	}
}

// PULSANTE DEFAULT - FINE

// PULSANTE SECONDARIO - INIZIO
// Override degli stili del pulsante secondario di Bootstrap 4

.btn-secondary {
	border-color: transparent;
	background-color: $sdyc;
	&:hover,
	&:focus,
	&:active {
		background-color: $pmyc;
		border-color: transparent;
	}
}

.show > .btn-secondary.dropdown-toggle {
	border-color: transparent;
	background-color: $pmyc;
}

// PULSANTE SECONDARIO - FINE


// PULSANTE SUCCESSO - INIZIO
// Override degli stili del pulsante per status positivi di Bootstrap 4

.btn-success {
	border-color: transparent;
	background-color: $scsc;
	&:hover,
	&:focus,
	&:active {
		background-color: $pmyc;
		border-color: transparent;
	}
}

// PULSANTE SUCCESSO - FINE


// PULSANTE CIRCOLARE - INIZIO
// Stili per rendere il pulsante a forma di cerchio

.btn-circle {
	height: 40px;
	width: 40px;
	padding: 0 !important;
	border-radius: 50% !important;
}

// PULSANTE CIRCOLARE - FINE

// PULSANTE CON BORDO - INIZIO
// Stili per rendere il pulsante vuoto con il bordo

.btn-outline {
	color: $infc;
	background-color: transparent;
	border: 3px solid $infc;
	&:hover,
	&:focus,
	&:active {
		color: $pmyc;
		background-color: transparent;
		border-color: $pmyc;
	}
}

// PULSANTE DEFAULT - FINE

// MENU A TENDINA - INIZIO
// Override degli stili del dropdown di Bootstrap 4

.dropdown-toggle {
	&:after {
		content: "";
		display: none;
		visibility: hidden;
	}
}

.dropdown-menu-right {
	margin-top: 1.2rem;
	background-color: $pmyc;
	border-color: transparent;
	border-radius: .05rem;
	&:before {
		content: "";
		position: absolute;
		top: -.75rem;
		right: .4rem;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 .8rem .8rem .8rem;
		border-color: transparent transparent $pmyc;
		border-radius: .05rem;
	}
	.dropdown-item {
		> a {color: $istdc;}
		&:hover,
		&:focus,
		&:active {
			color: $istdc;
			background-color: $stdc;
			> a {color: $istdc;}
		}
	}
}

// MENU A TENDINA MENU - FINE


// BRICIOLE DI PANE - INIZIO
// Override degli stili del breadcrumb di Bootstrap 4

.breadcrumb {
	background-color: transparent;
	margin: 0;
	padding: 0;
	.breadcrumb-item {
		&::before {color: $stdc;}
		&:nth-child(2)::before {
			font-size: 2.5rem;
			line-height: 1;
		}
		&:first-child a{
			font-size: 2.5rem;
			font-style: normal;
			color: $stdc;
			text-transform: uppercase;
		}
		a {
			font-size: 1.2rem;
			font-style: italic;
			color: $sdyc;
			line-height: 1;
		}
		
	}
}

// BRICIOLE DI PANE - FINE

// INPUT FIELDS - INIZIO
// Override degli stili dei vari input fields di Bootstrap 4

.form-control,
.custom-select {
	border-color: $outline-color;
	border-radius: .1rem;
	&:focus {
		border-color: $outline-color;
		box-shadow: 0 0 0 .1rem rgba($pmyc,.25);
	}
}

.input-group {
	.form-control {border-radius: .1rem;}
	.btn {border-color: $outline-color;}
	.btn-secondary {
		color: $istdc;
		border-color: transparent;
	}
}

.select2-container--default {
    .select2-selection--single {
        border-color: $outline-color;
        border-radius: .1rem;
        
    }
}

.select2-container {
    .select2-selection--single {
        height: 2.3rem;
        padding: .375rem .75rem;
    }
}


// INPUT FIELDS - FINE


// TABS - INIZIO
// Override degli stili dei tabs di Bootstrap 4

.nav-tabs {
	border-bottom: none;
	> .nav-item {
		> .nav-link {
			font-weight: 400;
			font-size: 1rem;
			letter-spacing: .1rem;
			color: $sdyc;
			border: none;
			border-bottom: 1px solid $sdyc;
			text-transform: uppercase;
			@include transition("all", ".3s", "ease");
			&:hover,
			&:active,
			&:focus,
			&.active {
				color: $pmyc;
				border-bottom-color: $pmyc;
				@include transition("all", ".3s", "ease");
			}
		}
	}
}

.nav-tabs-custom {
	.tab-content {padding-top: 3rem;}
}


// TABS - FINE

// FORM GROUP - INIZIO
// Override degli stili dei form-group di Bootstrap 4

.form-group-custom {
	margin-bottom: 2rem;
	border-bottom: 1px solid $sdyc;
	padding-bottom: 1rem;
	label,
	.form-group-title {
		vertical-align: middle;
		font-weight: 400;
		color: $sdyc;
		letter-spacing: .1rem;
		text-transform: uppercase;
		margin-bottom: 0;
	}
	.form-group-title {margin-bottom: .5rem;}
	.icheckbox_square {
		margin-right: .5rem;
		vertical-align: middle;
	}
}

// FORM GROUP - FINE


// ACCORDION - INIZIO
// Override degli stili degli accordion di Bootstrap 4

.custom-accordion {
	border: none;
	border-radius: 0;
	margin-bottom: 1.5rem;
	box-shadow: none;
	.card-header {
		color: $sdyc;
		background-color: transparent;
		border: none;
		border-radius: 0;
		padding: 0;
		.btn-link {
			position: relative;
			display: block;
			height: auto;
			font-weight: 400;
			color: $pmyc;
			text-align: left;
			text-transform: uppercase;
			text-decoration: none;
			line-height: 1.5;
			letter-spacing: .1rem;
			border-bottom: 1px solid $sdyc;
			border-radius: 0;
			padding: .375rem 0;
			&:before {
				content: "";
				position: absolute;
				top: auto;
				right: 0;
				bottom: -1px;
				left: 0;
				z-index: 10;
				display: block;
				width: 100%;
				height: 1px;
				background-color: $pmyc;
				@include transition("width", ".3s", "ease");
			}
			&.collapsed {
				color: $sdyc;
				&:before {
					width: 0;
					@include transition("width", ".3s", "ease");
				}
				&:hover,
				&:active,
				&:focus {
					color: $pmyc;
					&:before {
						width: 100%;
						@include transition("width", ".3s", "ease");
					}
				}
				.accordion-arrow {
					@include transform(rotate, -90deg);
					@include transition("transform", ".3s", "ease");
				}
			}
			.accordion-arrow {
				margin-left: .5rem;
				@include transform(rotate, 0);
				@include transition("transform", ".3s", "ease");
			}
		}
	}
	.card-body {
		padding: 2rem 1rem;
	}
}

// ACCORDION - FINE


// CHECKBOX - INIZIO
// Override degli stili deI checkbox di Bootstrap 4

.custom-checkbox .custom-control-label::before {border-radius: 0;}
.custom-control-label::before {  
  background-color: $istdc;
	border: 1px solid $stdc;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  background-color: $pmyc;
	border-color: transparent;
}

// CHECKBOX - FINE


/**
 *
 * STILI FORM - FINE
 * 
 **/