/**
 *
 * STILI HEADER - INIZIO
 * Assegno gli stili agli elementi del'header della pagina
 * 
 **/

:not(.shop) .header {
    .navbar-bottom {
        .main-menu .nav-item .nav-link,
        .social-menu .nav-item .nav-link {
            @include media-breakpoint-up(768) {
                font-size: 2rem;
            }
        }
    }
}

.header {
    .navbar {
        margin-bottom: 2.5rem;
    }
    .navbar-top {
        @include media-breakpoint-down(767) {
            padding-top: 0.5rem;
            padding-bottom: 0.5rem;
        }
        .link-img {
            @include media-breakpoint-down(767) {
                padding-bottom: 0.5rem;
            }
            a {
                display: inline-block;
                &:hover,
                &:active,
                &:focus {
                    @include transform(rotate, -5deg);
                }
            }
        }
    }
    .navbar-bottom {
        background-image: url(../img/hr.png);
        background-position: center bottom;
        background-repeat: no-repeat;
        background-size: contain;
        padding-top: 1rem;
        padding-bottom: 1rem;
        .main-menu {
            .nav-item {
                .nav-link {
                    font-weight: normal;
                    font-size: $menu-font-size;
                    color: $stdc;
                    text-transform: uppercase;
                    margin-bottom: 15px;
                    font-size: 1.5rem !important;
                    @include media-breakpoint-down(1200) {
                        font-size: 1.3rem !important;
                    }
                    @include media-breakpoint-up(768) {
                        padding-left: 1rem;
                        padding-right: 1rem;
                    }
                    &:hover,
                    &:focus,
                    &:active {
                        font-weight: bold;
                        color: $pmyc;
                    }
                }
            }
            .nav-itemdropdown {
                position: relative;
                font-weight: normal;
                font-size: 1.5rem !important;
                color: $stdc;
                text-transform: uppercase;
                @include media-breakpoint-up(768) {
                    padding-left: 1rem;
                    padding-right: 1rem;
                }
                a {
                    color: $stdc;
                    &:hover,
                    &:focus,
                    &:active {
                        font-weight: bold;
                        color: $pmyc;
                    }
                }
                ul {
                    visibility: hidden;
                    padding: 30px 15px;
                    margin: 0;
                    position: absolute;
                    top: 58px !important;
                    left: -90px !important;
                    right: -90px !important;
                    text-align: center;
                    min-width: auto;
                    border: 1px solid transparent;
                    background-color: $pmyc;
                    border-radius: 0;
                    transform: translate3d(0, 0, 0) !important;
                    &.show {
                        visibility: visible;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        top: -10px;
                        left: calc(50% - 10px);
                        display: block;
                        width: 0;
                        height: 0;
                        margin: auto;
                        border-style: solid;
                        border-width: 0 10px 10px 10px;
                        border-color: transparent transparent $pmyc;
                    }
                    a {
                        color: #fff !important;
                        &:hover {
                            color: $stdc !important;
                        }
                    }
                }
            }
        }
        .social-menu {
            ul {
                padding: 0;
                margin: 0;
                .nav-item {
                    display: inline-block;
                    .nav-link {
                        font-size: $menu-font-size;
                        font-weight: normal;
                        color: $stdc;
                        text-transform: uppercase;
                        @include media-breakpoint-down(767) {
                            padding: 0.5rem 0.25rem;
                        }
                        .fab {
                            line-height: 1.5;
                        }
                    }
                }
            }
        }
    }
    .navbar-toggler {
        background-color: $stdc;
        border-color: transparent;
        border-radius: 0;
        .navbar-toggler-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='rect' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
        }
    }
}

.shop-menu {
    .nav-link {
        margin-bottom: 15px;
        font-size: 1.5rem !important;
        @include media-breakpoint-down(1200) {
            font-size: 1.3rem !important;
        }
    }
}

.header-shop {
    .shop-user-interface {
        margin-bottom: 5px;
        border-bottom: 1px solid $lightgrey;
        .container {
            .box-left {
                padding: 10px 15px;
                text-transform: uppercase;
                color: $pmyc;
                font-weight: $bold;
                font-size: 18px;
                @include media-breakpoint-down(575) {
                    font-size: 15px;
                }
            }
            .box-right {
                padding: 10px 15px;
                padding-right: 30px;
                text-align: right;
                border-left: 1px solid $lightgrey;
                @include media-breakpoint-down(767) {
                    padding-right: 15px;
                }
                @include media-breakpoint-down(575) {
                    display: flex;
                    align-items: center;
                    justify-content: end;
                }
                p {
                    margin-bottom: 0;
                    display: inline-block;
                    text-transform: uppercase;
                    color: $pmyc;
                    font-weight: $bold;
                    font-size: 18px;
                    @include media-breakpoint-down(575) {
                        display: none;
                    }
                }
                .dropdown {
                    display: inline-block;
                    button {
                        overflow: hidden;
                        border: 1px solid $pmyc;
                        i {
                            font-size: 30px;
                            padding-top: 8px;
                            color: $pmyc;
                        }
                    }
                }
            }
        }
    }
    nav {
        .btn-circle {
            width: 50px;
            height: 50px;
            @include media-breakpoint-down(992) {
                width: 40px;
                height: 40px;
            }
            i {
                padding-top: 12px;
                font-size: 24px;
                @include media-breakpoint-down(992) {
                    font-size: 16px;
                }
            }
        }
    }
}

/**
 *
 * STILI HEADER - FINE
 * 
 **/
