.carousel {
    @include media-breakpoint-down(767) {
        margin-bottom: 3rem;
    }
    @include media-breakpoint-up(768) {
        margin-bottom: 6rem;
    }
    .carousel-item {
        text-align: center;
    }
    .carousel-indicators {
        > li {
            background-color: $stdc;
            width: 50px;
            &.active {
                background-color: $pmyc;
            }
        }
    }
}

.admin-main {
    padding: 2rem;
    overflow-y: scroll;
    .admin-main-content {
        .box-header {
            margin-bottom: 2rem;
            border-bottom: 1px solid $sdyc;
            padding-bottom: 1rem;
        }
    }
}

.content-header-title {
    margin-bottom: 0;
    > span {
        &:first-child {
            text-transform: uppercase;
            margin-right: 0.5rem;
        }
        &:last-child {
            font-size: 2rem;
            font-style: italic;
            color: $pmyc;
        }
    }
}

.section-title {
    display: inline-block;
    font-family: $font-family-special;
    background-image: url(../img/title-underline.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    padding-bottom: 0.5rem;
    @include transform(rotate, -5deg);
    @include media-breakpoint-down(767) {
        font-size: 4rem;
        background-size: 50% auto;
        margin-bottom: 1.5rem;
    }
    @include media-breakpoint-up(768) {
        font-size: 7rem;
        background-size: auto;
        margin-bottom: 4rem;
    }
}

#map-container {
    height: 100%;
    min-height: 700px;
}

#map {
    height: 700px;
}

.select2-selection__arrow {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.table-responsive {
    display: table !important;
    @include media-breakpoint-down(991) {
        display: block !important;
    }
}

.paging_simple_numbers {
    @include media-breakpoint-down(575) {
        .pagination {
            justify-content: center !important;
        }
        .previous,
        .next {
            width: 38px;
            a {
                font-size: 0;
                height: 100%;
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 0;
                    height: 0;
                    border-style: solid;
                }
            }
            &.previous {
                a {
                    &:before {
                        border-width: 5px 10px 5px 0;
                        border-color: transparent $pmyc transparent transparent;
                    }
                }
            }
            &.next {
                a {
                    &:before {
                        border-width: 5px 0 5px 10px;
                        border-color: transparent transparent transparent $pmyc;
                    }
                }
            }
        }
    }
}
