/**
 *
 * DICHIARAZIONE VARIABILI COLORI - INIZIO
 * Assegnazione dei colori del tema
 * 
 * $stdc: Standard color - Colore standard
 * $pmyc: Primary color - Colore primario
 * $sdyc: Secondary color - Colore secondario
 * $infc: Info color - Colore info
 * $scsc: Success color - Colore per status positivi
 * $wrnc: Warning color - Colore per warning e status incompleti/con errori non gravi
 * $errc: Error color - Colore per errori e status con errori gravi
 * 
 **/


// Assegno i colori alle variabili di default
// Per cambiare i colori nel tema sarà sufficiente assegnare altri colori alle variabili
$stdc: #231f20;
$istdc: #fff;
$pmyc: #8b2329;
$sdyc: #f1f2f2;


$darkgrey: #414042;


$infc: $stdc;

$scsc: #65bf5e;
$wrnc: #f1c40f;
$errc: #ea6643;

$lightgrey: #d3d2d2;
$lightergrey: #f1f2f2;
$verylightrgrey: #e6e7e8;


/**
 * DICHIARAZIONE VARIABILI COLORI - FINE
 **/

/**
 *
 * DICHIARAZIONE VARIABILI FONT - INIZIO
 * Assegnazione delle preprietà del font del tema
 * 
 * $font-family: Font utilizzato dal tema
 * $font-weight: Spessore del font
 * $font-size: Grandezza del font
 * $font-color: Colore del font
 * $letter-spacing: Spazio tra le lettere
 * 
 **/

$font-family: "Anonymous Pro", Georgia, serif; // Scaricato da Google Font e convertito su Font Squirrel
$font-family-special: "Caveat Brush", Georgia, serif; // Scaricato da Google Font e convertito su Font Squirrel
$font-weight: 400; // Di base è sempre 400 (ovvero "normal")
$font-size: 1rem; // Cambia in base alle impostazioni del browser, di default 1rem corrisponde a 16px
$font-color: $stdc;
$letter-spacing: 0;

$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

/**
 * DICHIARAZIONE VARIABILI FONT - FINE
 **/


/**
 *
 * DICHIARAZIONE VARIABILI MENU - INIZIO
 * Assegnazione delle proprietà del menu del tema
 * 
 **/

$menu-font-size: 1.25rem;
$menu-bc: $istdc;

/**
 * DICHIARAZIONE VARIABILI MENU - FINE
 **/



/**
 *
 * DICHIARAZIONE VARIABILI BODY - INIZIO
 * Assegnazione delle proprietà del body del tema
 * 
 **/

$body-bc: $istdc;
$light-bc: $sdyc;
$outline-color: $stdc;

/**
 * DICHIARAZIONE VARIABILI BODY - FINE
 **/
